{% extends 'base.html' %}
{% load staticfiles %}
{% load el_pagination_tags %}
{% load hitcount_tags %}


{% block title %}
    <title>{{ object.course_provider_name }} - Course Provider | learneskill.com </title>
{% endblock title %}

{% block content %}
    <!-- ========= Top Discount Courses start =========== -->
    <div id="products-tab" class="wow fadeInUp">
        <div class="container">
            <div class="tab-holder">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#top-sales" data-toggle="tab">{{ object.course_provider_name }}
                        Courses ({{ object.course_detail_set.count }})</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="featured">
                        <div class="product-grid-holder">

                            <!-- Dynamic Course Details -->
                            {% for course in object.course_detail_set.all %}

                                <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                    <div class="product-item">
                                        {% if course.discount > 99 %}
                                            <div class="ribbon green"><span>Free</span></div>
                                        {% elif course.discount >= 75 %}
                                            <div class="ribbon red"><span>Sale</span></div>
                                        {% else %}
                                        {% endif %}

                                        {% for img in course.courseimage_set.all %}
                                            <div class="image">
                                                <a href="{{ course.get_absolute_url }}">
                                                    <img alt="" src="assets/images/blank.gif" height="180"
                                                         width="250"
                                                         data-echo="{{ img.image.url }}"/>
                                                </a>
                                            </div>
                                        {% endfor %}
                                        <div class="body">

                                            {% if course.discount == 0 %}
                                                <div class="label-discount green"></div>
                                            {% else %}
                                                <div class="label-discount green">{{ course.discount }}% off</div>
                                            {% endif %}

                                            <div class="title">
                                                <a href="{{ course.get_absolute_url }}"> {{ course.title | truncatechars:'50' }}</a>
                                            </div>
                                            <div class="text-default small">{{ course.sub_title | lower |truncatechars:'70' }}</div>
                                        </div>
                                        <div class="prices">
                                            {% if course.discount == 100 %}
                                                <div class="price-prev"></div>
                                                <div class="price-current pull-right">Free</div>
                                            {% else %}
                                                <div class="price-prev">${{ course.actual_price }}</div>
                                                <div class="price-current pull-right">${{ course.sale_price }}</div>
                                            {% endif %}
                                        </div>

                                        <div class="hover-area">
                                            <div class="add-cart-button">
                                                <a href="{{ course.get_absolute_url }}" class="le-button">take this
                                                    course</a>
                                            </div>
                                            <div class="wish-compare">
                                                <a class="text-left" href="#"><i
                                                        class="fa fa-eye fa-1x text-muted"> {% get_hit_count for course %} </i></a>
                                                <a class="text-right text-muted" href="#"><span>Enrolled:</span>
                                                    <span class="text-primary">{{ course.student_enrolled }}+ students</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <!-- Dynamic Course Detail END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- ================== Top Discount Course End =================== -->

{% endblock %}

{% block footer_content %}
    <footer id="footer" class="color-bg">
        <div class="container">
            <div class="row no-margin widgets-row">
                <div class="col-xs-12  col-sm-4 no-margin-left">
                    <!-- ============================================================= FEATURED PRODUCTS ============================================================= -->
                    <div class="widget">
                        <h2>New Arrivals Books</h2>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="row">
                                        {% for book in recently_book_footer %}
                                            <div class="col-xs-12 col-sm-9 no-margin">
                                                <a href="{{ book.get_absolute_url }}"><span style="font-weight: 500">{{ book.title | truncatechars:'55' }}</span></a>
                                                <div class="price">
                                                    <div class="price-prev">$ {{ book.actual_price }}</div>
                                                    <div class="price-current"><span
                                                            class="bold">$ {{ book.sale_price }}</span></div>
                                                </div>
                                            </div>

                                            {% for img in book.bookimage_set.all %}
                                                <div class="col-xs-12 col-sm-3 no-margin">
                                                    <a href="#" class="thumb-holder">
                                                        <img alt="" src="" height="60" width="75"
                                                             data-echo="{{ img.image.url }}"/>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.body -->
                    </div> <!-- /.widget -->
                    <!-- ============================================================= FEATURED PRODUCTS : END ============================================================= -->
                </div><!-- /.col -->

                <div class="col-xs-12 col-sm-4 ">
                    <!-- ============================================================= ON SALE PRODUCTS ============================================================= -->
                    <div class="widget">
                        <h2>Top Discount Books</h2>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="row">
                                        {% for book in discount_book_footer %}
                                            <div class="col-xs-12 col-sm-9 no-margin">
                                                <a href="{{ book.get_absolute_url }}"><span style="font-weight: 500">{{ book.title | truncatechars:'55' }}</span></a>
                                                <div class="price">

                                                    <div class="price-prev">$ {{ book.actual_price }}</div>
                                                    <div class="price-current"><span
                                                            class="bold">$ {{ book.sale_price }}</span></div>
                                                </div>
                                            </div>

                                            {% for img in book.bookimage_set.all %}

                                                <div class="col-xs-12 col-sm-3 no-margin">
                                                    <a href="#" class="thumb-holder">
                                                        <img alt="" src="" height="60" width="75"
                                                             data-echo="{{ img.image.url }}"/>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.body -->
                    </div> <!-- /.widget -->
                    <!-- ============================================================= ON SALE PRODUCTS : END ============================================================= -->
                </div><!-- /.col -->

                <div class="col-xs-12 col-sm-4 ">
                    <!-- ============================================================= TOP RATED PRODUCTS ============================================================= -->
                    <div class="widget">
                        <h2>Featured Blog Post</h2>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="row">
                                        {% for blog in blog_footer %}
                                            <div class="col-xs-12 col-sm-9 no-margin">
                                                <a href="{{ blog.get_absolute_url }}"><span style="font-weight: 500">{{ blog.title | truncatechars:'60' }}</span></a>
                                                <div class="price">
                                                    <div class="price-prev"></div>
                                                    <div class="price-current"><span
                                                            class="bold"></span></div>
                                                </div>
                                            </div>

                                            {% for img in blog.blogimage_set.all %}
                                                <div class="col-xs-12 col-sm-3 no-margin">
                                                    <a href="#" class="thumb-holder">
                                                        <img alt="" src="" height="57" width="75"
                                                             data-echo="{{ img.image.url }}"/>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.body -->
                    </div><!-- /.widget -->
                    <!-- ============================================================= TOP RATED PRODUCTS : END ============================================================= -->
                </div><!-- /.col -->

            </div><!-- /.widgets-row-->
        </div><!-- /.container -->

        <div class="sub-form-row">
            <div class="container">
                <div class="sub-form-row">
                    <div class="container">
                        <div class="col-md-10">
                            <form role="form" action="/newsletter/dealsndiscount/subscribe/" method="POST">
                                {% csrf_token %}
                                <input placeholder="Subscribe to our newsletter">
                                <button class="le-button">Subscribe</button>
                            </form>
                        </div>
                    </div><!-- /.container -->
                </div><!-- /.sub-form-row -->
            </div><!-- /.container -->
        </div><!-- /.sub-form-row -->

        <div class="link-list-row">
            <div class="container no-padding">
                <div class="col-xs-12 col-md-4 ">
                    <!-- ============================================================= CONTACT INFO ============================================================= -->
                    <div class="contact-info">
                        <div class="footer-logo">
                            <div class="logo">
                                <a href="{% url 'index' %}">
                                    <img alt="logo" src="{% static 'assets/images/logo.png' %}" width="233"
                                         height="54"/>
                                </a>
                            </div><!-- /.logo -->
                        </div><!-- /.footer-logo -->

                        <p class="regular-bold"> Feel free to contact us via email.</p>

                        <i class="fa fa-envelope"></i><span class="le-color"> hello@learneskills.com</span>

                        <div class="social-icons">
                            <h3>Get in touch</h3>
                            <ul>
                                <li><a href="http://facebook.com/transvelo" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-pinterest"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                <li><a href="#" class="fa fa-stumbleupon"></a></li>
                                <li><a href="#" class="fa fa-dribbble"></a></li>
                                <li><a href="#" class="fa fa-vk"></a></li>
                            </ul>
                        </div><!-- /.social-icons -->

                    </div>
                    <!-- ============================================================= CONTACT INFO : END ============================================================= -->
                </div>

                <div class="col-xs-12 col-md-8 no-margin">
                    <!-- ============================================================= LINKS FOOTER ============================================================= -->
                    <div class="link-widget">
                        <div class="widget">
                            <h3 class="text-success">Courses Tag List</h3>
                            {% for tag in course_tags %}

                                {% if forloop.counter|divisibleby:'3' %}
                                    <a style="font-size: 13pt;"
                                       href="{% url 'tagged' tag.slug %}"><span class="text-muted">{{ tag }},</span></a>

                                {% elif tag.name == 'programming' and 'development' %}
                                    <a style="font-size: 18pt;"
                                       href="{% url 'tagged' tag.slug %}"> <span
                                            class="text-muted">{{ tag }},</span></a>
                                {% else %}
                                    <a style="font-size: 10pt;"
                                       href="{% url 'tagged' tag.slug %}"><span class="text-muted">{{ tag }},</span></a>
                                {% endif %}

                            {% endfor %}
                        </div><!-- /.widget -->
                    </div><!-- /.link-widget -->

                    <div class="link-widget">
                        <div class="widget">
                            <h3 class="text-success">Books Tag List</h3>
                            <div class="tagcloud">
                                {% for tag in book_tags %}
                                    {% if forloop.counter|divisibleby:'3' %}
                                        <a style="font-size: 14pt;"
                                           href="{% url 'book-tagged' tag.slug %}"><span
                                                class="text-muted">{{ tag }},</span></a>

                                    {% elif tag.name %}
                                        <a style="font-size: 10pt;"
                                           href="{% url 'book-tagged' tag.slug %}"> <span
                                                class="text-muted">{{ tag }},</span></a>
                                    {% else %}
                                        <a style="font-size: 16pt;"
                                           href="{% url 'book_tagged' tag.slug %}"><span
                                                class="text-muted">{{ tag }},</span></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div><!-- /.widget -->
                    </div><!-- /.link-widget -->

                    <div class="link-widget">
                        <div class="widget">
                            <h3 class="text-success">Blog Tag List</h3>
                            <div class="tagcloud">

                                {% for tag in blog_tags %}
                                    {% if forloop.counter|divisibleby:'3' %}
                                        <a style="font-size: 13pt;"
                                           href="{% url 'blog_tagged' tag.slug %}"><span
                                                class="text-muted">{{ tag }}</span></a>

                                    {% elif tag.name == 'programming' %}
                                        <a style="font-size: 18pt;"
                                           href="{% url 'blog_tagged' tag.slug %}"><span
                                                class="text-muted">{{ tag }},</span></a>
                                    {% else %}
                                        <a style="font-size: 10pt;"
                                           href="{% url 'blog_tagged' tag.slug %}"><span
                                                class="text-muted">{{ tag }},</span></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div><!-- /.widget -->
                    </div><!-- /.link-widget -->
                    <!-- ============================================================= LINKS FOOTER : END ============================================================= -->
                </div>
            </div><!-- /.container -->
        </div><!-- /.link-list-row -->

        <div class="copyright-bar">
            <div class="container">
                <div class="col-xs-12 col-sm-6 no-margin">
                    <div class="copyright">
                        &copy; <a href="index.html">learnEskills</a> - all rights reserved
                    </div><!-- /.copyright -->
                </div>
                {#                <div class="col-xs-12 col-sm-6 no-margin">#}
                {#                    <div class="payment-methods ">#}
                {#                        <ul>#}
                {#                            <li><img alt="" src="assets/images/payments/payment-visa.png"></li>#}
                {#                            <li><img alt="" src="assets/images/payments/payment-master.png"></li>#}
                {#                            <li><img alt="" src="assets/images/payments/payment-paypal.png"></li>#}
                {#                            <li><img alt="" src="assets/images/payments/payment-skrill.png"></li>#}
                {#                        </ul>#}
                {#                    </div><!-- /.payment-methods -->#}
                {#                </div>#}
            </div><!-- /.container -->
        </div><!-- /.copyright-bar -->

    </footer><!-- /#footer -->
{% endblock %}