{% extends 'base.html' %}
{% load staticfiles %}
{% load el_pagination_tags %}


{#<h1> Courses </h1>#}
{##}
{#{% for main in object.course_detail_set.all %}#}
{#    <p>{{ object.course_provider_name }}: {{ main.title }}</p>#}
{#    #}
{#{% endfor %}#}


{% block content %}
    <!-- ========= Top Discount Courses start =========== -->
    <div id="products-tab" class="wow fadeInUp">
        <div class="container">
            <div class="tab-holder">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">

                    <li class="active"><a href="#top-sales" data-toggle="tab">{{ object.course_provider_name }}
                        Courses</a></li>

                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="featured">
                        <div class="product-grid-holder">

                            <!-- Dynamic Course Details -->

                            {% for course in object.course_detail_set.all %}

                                    <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                        <div class="product-item">
{#                                            <div class="ribbon blue"><span>new!</span></div>#}
{#                                            <div class="ribbon green"><span>bestseller</span></div>#}
{#                                            <div class="ribbon red"><span>sale</span></div>#}
                                            {% for img in course.courseimage_set.all %}
                                                <div class="image">
                                                    <a href="{{ course.get_absolute_url }}">
                                                        <img alt="" src="assets/images/blank.gif" height="180"
                                                             width="250"
                                                             data-echo="{{ img.image.url }}"/>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                            <div class="body">
                                                <div class="label-discount green">-{{ course.discount }}% sale</div>
                                                <div class="title">
                                                    <a href="{{ course.get_absolute_url }}"> {{ course.title | truncatechars:'50' }}</a>
                                                </div>
                                                <div class="text-default small">{{ course.sub_title | lower |truncatechars:'70' }}</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-prev">${{ course.actual_price }}</div>
                                                <div class="price-current pull-right">${{ course.sale_price }}</div>

                                            </div>

                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="{{ course.get_absolute_url }}" class="le-button">take this
                                                        course</a>
                                                </div>
                                                <div class="wish-compare">
                                                    <a class="btn-add-to-wishlist" href="#">add to wishlist</a>
                                                    <a class="btn-add-to-compare" href="#">compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            {% endfor %}

                            <!-- Dynamic Course Detail END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================== Top Discount Course End =================== -->

{% endblock %}