{% extends 'base.html' %}
{% load staticfiles %}
{% load tinymce_tags %}
{% load hitcount_tags %}
{% load ratings %}
{% load humanize %}

{% block content %}
    <head>
        {% tinymce_preview "preview-content" %}
    </head>

    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"#}
    {#          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">#}

    <body>

    <div class="wrapper">
        <section class="sidebar-page">
            <div class="container">
                <!-- ========================================= SIDEBAR ========================================= -->
                <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">
                    <!-- ========================================= CATEGORY TREE ========================================= -->
                    <div class="widget accordion-widget category-accordions">
                        <div class="body bordered">
                            <h3 class="border text-primary">Category Tree</h3>
                            {% for main in main_category %}
                                <div class="accordion">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle active" data-toggle="collapse"
                                               href="#{{ main.id }}">
                                                {{ main.title }}
                                            </a>
                                        </div>
                                        <div id="{{ main.id }}" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                {% for category in main.default_main_category.all %}
                                                    <ul>
                                                        <li>
                                                            <a href="{{ category.get_absolute_url }}">{{ category.title }}
                                                                ({{ category.course_detail_set.count }})</a>
                                                        </li>
                                                    </ul>
                                                {% endfor %}
                                            </div><!-- /.accordion-inner -->
                                        </div>
                                    </div><!-- /.accordion -->
                                </div><!-- /.category-accordions -->
                            {% endfor %}
                        </div>
                    </div>
                    <!-- ========================================= CATEGORY TREE : END ========================================= -->
                    <!-- ========================================= Recently Updated PRODUCTS : START ========================================= -->
                    <div class="widget">
                        <h1 class="border">Recently Updated</h1>
                        <ul class="product-list">

                            {% for course in recently_updated %}
                                <li class="sidebar-product-list-item">
                                    <div class="row">
                                        {% for img in course.courseimage_set.all %}
                                            <div class="col-xs-4 col-sm-4 no-margin">
                                                <a href="#" class="thumb-holder">
                                                    <img height="73" width="73" id="img" src="{{ img.image.url }}"/>
                                                </a>
                                            </div>
                                        {% endfor %}
                                        <div class="col-xs-8 col-sm-8 no-margin">
                                            <a href="{{ course.get_absolute_url }}">{{ course.title|truncatechars:'30' }}</a>
                                            <div class="price">
                                                <div class="price-prev">${{ course.actual_price }}</div>
                                                <div class="price-current">${{ course.sale_price }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li><!-- /.sidebar-product-list-item -->
                            {% endfor %}


                        </ul><!-- /.product-list -->
                    </div><!-- /.widget -->
                    <!-- ========================================= Recently Updated PRODUCTS : END ========================================= -->
                    <!-- ========================================= Top Discount PRODUCTS : START ========================================= -->
                    <div class="widget">
                        <h1 class="border">Top Discount</h1>
                        <ul class="product-list">

                            {% for course in top_discount %}
                                <li class="sidebar-product-list-item">
                                    <div class="row">
                                        {% for img in course.courseimage_set.all %}
                                            <div class="col-xs-4 col-sm-4 no-margin">
                                                <a href="#" class="thumb-holder">
                                                    <img height="63" width="73" id="img" src="{{ img.image.url }}"/>
                                                </a>
                                            </div>
                                        {% endfor %}
                                        <div class="col-xs-8 col-sm-8 no-margin">
                                            <a href="{{ course.get_absolute_url }}">{{ course.title|truncatechars:'30' }}</a>
                                            <div class="price">
                                                {% if course.discount > 5 %}
                                                    <div class="label-discount">-{{ course.discount }}% off</div>
                                                {% endif %}
                                                <div class="price-prev">${{ course.actual_price }}</div>
                                                <div class="price-current">${{ course.sale_price }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li><!-- /.sidebar-product-list-item -->
                            {% endfor %}


                        </ul><!-- /.product-list -->
                    </div><!-- /.widget -->
                    <!-- ========================================= Top Discount PRODUCTS : END ========================================= -->
                </div>
                <!-- ========================================= SIDEBAR : END ========================================= -->

                <!-- ========================================= CONTENT ========================================= -->

                <div class="col-xs-12 col-sm-9 no-margin wide sidebar page-main-content">
                    <div id="single-product" class="row">

                        <div class="no-margin col-xs-12 col-sm-6 col-md-5 gallery-holder">
                            <div class="product-item-holder size-big single-product-gallery">
                                {% for img in object.courseimage_set.all %}
                                    <div id="">
                                        <a data-rel="prettyphoto" href="{{ object.url }}">
                                            <div class="ribbon green"><span>-{{ object.discount }}% off</span></div>
                                            <img height="400" width="420" alt="" src="{{ img.image.url }}">
                                        </a>
                                    </div><!-- /.single-product-slider -->
                                {% endfor %}
                            </div><!-- /.single-product-gallery -->
                        </div><!-- /.gallery-holder -->
                        <div class="no-margin col-xs-12 col-sm-7 body-holder">
                            <div class="body">
                                {% ratings object %}
                                <div class="title">
                                    <h1> {{ object.title|title }} </h1>
                                </div>

                                <div class="title"><span>Student Enrolled:</span> <span
                                        class="text-primary bold">{{ object.student_enrolled }}</span> Total views: <i
                                        class="fa fa-eye fa-lg text-primary"> {% get_hit_count for object %} </i></div>

                                <br>
                                <div class="social-row">
                                    <span class="st_facebook_hcount"><a
                                            href="http://www.facebook.com/sharer/sharer.php?u=http://www.empowerconsultant.in}"></a></span>
                                    <span class="st_twitter_hcount"></span>
                                    <span class="st_pinterest_hcount"></span>
                                    <span class="st_linkedin_hcount"></span><br>
                                </div>
                                <div class="social-row">
                                    <span class="st_googleplus_hcount"><a
                                            href="https://plus.google.com/share?url=http://your-domain{{ request.get_full_path|urlencode }}"></a></span>
                                    <span class="st_stumbleupon_hcount"></span>
                                    <span class="st_tumblr_hcount"></span>
                                    <span class="st_instagram_hcount"></span>
                                </div>
                                <br>
                                <div class="buttons-holder">

                                    <a style="color: black" href="{{ object.course_provider.get_absolute_url }}">Course
                                        Provider: <span
                                                class="text-primary bold">{{ object.course_provider }}</span> </a>
                                </div>
                                <br>

                                <div class="excerpt">
                                    <p>{{ object.sub_title }}</p>
                                </div>

                                <div class="prices">
                                    {% if object.discount == 100 %}
                                        <div class="price-current">Free</div>
                                        <div class="price-prev"></div>
                                    {% else %}
                                        <div class="price-current">${{ object.sale_price }}</div>
                                        <div class="price-prev">${{ object.actual_price }}</div>
                                    {% endif %}
                                </div>
                                <div class="qnt-holder">
                                    <a href="{{ object.url }}" class="le-button huge" target="_blank">Take This
                                        Course</a>
                                </div><!-- /.qnt-holder -->
                            </div><!-- /.body -->
                        </div><!-- /.body-holder -->
                    </div><!-- /.row #single-product -->

                    <!-- ========================================= SINGLE PRODUCT TAB ========================================= -->
                    <section id="single-product-tab">
                        <div class="no-container">
                            <div class="tab-holder">

                                <ul class="nav nav-tabs simple">
                                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
{#                                    <li><a href="#additional-info" data-toggle="tab">Course Information</a></li>#}
                                </ul><!-- /.nav-tabs -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="description">
                                        <p id="preview-content">{{ object.description | safe | linebreaks | truncatechars:'5000' }}</p>
                                        <div class="meta-row">
                                            <div class="inline">
                                                <label>categories:</label>
                                                <span><a
                                                        href="{{ object.default.get_absolute_url }}">{{ object.default }}</a></span>
                                                <span><a href="#"></a></span>
                                                <span><a href="#"></a></span>
                                            </div><!-- /.inline -->

                                            <span class="seperator">/</span>

                                            <div class="inline">
                                                <label>tag:</label>
                                                {% for tag in course_detail.tags.all %}
                                                    <span><a href="{% url 'tagged' tag.slug %}"><span
                                                            class="tag tag-default"
                                                            style="color: green; font-size: 15px; font-weight: 700">{{ tag }}, </span></a></span>
                                                {% endfor %}

                                            </div><!-- /.inline -->
                                        </div><!-- /.meta-row -->
                                    </div><!-- /.tab-pane #description -->
                                </div><!-- /.tab-content -->
                            </div><!-- /.tab-holder -->
                        </div><!-- /.container -->
                    </section><!-- /#single-product-tab -->
                    <!-- ========================================= SINGLE PRODUCT TAB : END ========================================= -->
                    <!-- ========================================= Related Courses ========================================= -->
                    <section id="recently-reviewd" class="wow fadeInUp">
                        <div class="no-container">
                            <div class="carousel-holder hover">

                                <div class="title-nav">
                                    <h2 class="h1">Related Courses </h2>
                                    <div class="nav-holder">
                                        <a href="#prev" data-target="#owl-recently-viewed-2"
                                           class="slider-prev btn-prev fa fa-angle-left"></a>
                                        <a href="#next" data-target="#owl-recently-viewed-2"
                                           class="slider-next btn-next fa fa-angle-right"></a>
                                    </div>
                                </div><!-- /.title-nav -->

                                <div id="owl-recently-viewed-2" class="owl-carousel product-grid-holder">
                                    {% for course in related %}
                                        <div class="no-margin carousel-item product-item-holder size-medium hover">

                                            <div class="product-item">

                                                {% for img in course.courseimage_set.all %}

                                                    <img style="padding-top: 9px;" height="130" width="200" alt=""
                                                         src="{{ img.image.url }}"/>

                                                {% endfor %}

                                                <div class="body">
                                                    <div class="title">
                                                        <a href="{{ course.get_absolute_url }}">{{ course.title | truncatechars:'40' }}</a>
                                                    </div>
                                                    <div class="brand">{{ course.sub_title|truncatechars:'50' }}</div>
                                                </div>
                                                <div class="prices">
                                                    <div class="price-current text-right">${{ course.sale_price }}</div>
                                                </div>
                                                <div class="hover-area">
                                                    <div class="add-cart-button">
                                                        <a href="{{ course.get_absolute_url }}" class="le-button">Go To
                                                            Course</a>
                                                    </div>
                                                    <div class="wish-compare">
{#                                                        <a class="btn-add-to-wishlist" href="#">Add to Wishlist</a>#}
{#                                                        <a class="btn-add-to-compare" href="#">Compare</a>#}
                                                    </div>
                                                </div>

                                            </div><!-- /.product-item -->

                                        </div><!-- /.product-item-holder -->
                                    {% endfor %}
                                    <!-- /.product-item-holder -->
                                </div><!-- /#recently-carousel -->

                            </div><!-- /.carousel-holder -->
                        </div><!-- /.container -->
                    </section><!-- /#recently-reviewd -->
                    <!-- ========================================= RECENTLY VIEWED : END ========================================= -->
                    <div id="disqus_thread"></div>
                    <script>

                        /**
                         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                        /*
                         var disqus_config = function () {
                         this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                         this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                         };
                         */
                        (function () { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = '//dealsndiscount.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a
                            href="https://disqus.com/?ref_noscript">comments
                        powered by Disqus.</a></noscript>
                </div><!-- /.page-main-content -->
                <!-- ========================================= CONTENT : END ========================================= -->

            </div><!-- /.container -->
        </section><!-- /.sidebar-page -->

    </div><!-- /.wrapper -->

    </body>
{% endblock %}

{% block footer_content %}
 <div class="container">
            <div class="row no-margin widgets-row">
                <div class="col-xs-12  col-sm-4 no-margin-left">
                    <!-- ============================================================= FEATURED PRODUCTS ============================================================= -->
                    <div class="widget">
                        <h2>Featured products</h2>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 no-margin">
                                            <a href="single-product.html">Netbook Acer Travel B113-E-10072</a>
                                            <div class="price">
                                                <div class="price-prev">$2000</div>
                                                <div class="price-current">$1873</div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-3 no-margin">
                                            <a href="#" class="thumb-holder">
                                                <img alt="" src="assets/images/blank.gif"
                                                     data-echo="assets/images/products/product-small-01.jpg"/>
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 no-margin">
                                            <a href="single-product.html">PowerShot Elph 115 16MP Digital Camera</a>
                                            <div class="price">
                                                <div class="price-prev">$2000</div>
                                                <div class="price-current">$1873</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 no-margin">
                                            <a href="#" class="thumb-holder">
                                                <img alt="" src="assets/images/blank.gif"
                                                     data-echo="assets/images/products/product-small-02.jpg"/>
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 no-margin">
                                            <a href="single-product.html">PowerShot Elph 115 16MP Digital Camera</a>
                                            <div class="price">
                                                <div class="price-prev">$2000</div>
                                                <div class="price-current">$1873</div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-3 no-margin">
                                            <a href="#" class="thumb-holder">
                                                <img alt="" src="assets/images/blank.gif"
                                                     data-echo="assets/images/products/product-small-03.jpg"/>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.body -->
                    </div> <!-- /.widget -->
                    <!-- ============================================================= FEATURED PRODUCTS : END ============================================================= -->
                </div><!-- /.col -->

                <div class="col-xs-12 col-sm-4 ">
                    <!-- ============================================================= ON SALE PRODUCTS ============================================================= -->
                    <div class="widget">
                        <h2>On-Sale Products</h2>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 no-margin">
                                            <a href="single-product.html">HP Scanner 2910P</a>
                                            <div class="price">
                                                <div class="price-prev">$2000</div>
                                                <div class="price-current">$1873</div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-3 no-margin">
                                            <a href="#" class="thumb-holder">
                                                <img alt="" src="assets/images/blank.gif"
                                                     data-echo="assets/images/products/product-small-04.jpg"/>
                                            </a>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 no-margin">
                                            <a href="single-product.html">Galaxy Tab 3 GT-P5210 16GB, Wi-Fi, 10.1in
                                                - White</a>
                                            <div class="price">
                                                <div class="price-prev">$2000</div>
                                                <div class="price-current">$1873</div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-3 no-margin">
                                            <a href="#" class="thumb-holder">
                                                <img alt="" src="assets/images/blank.gif"
                                                     data-echo="assets/images/products/product-small-05.jpg"/>
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 no-margin">
                                            <a href="single-product.html">PowerShot Elph 115 16MP Digital Camera</a>
                                            <div class="price">
                                                <div class="price-prev">$2000</div>
                                                <div class="price-current">$1873</div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-3 no-margin">
                                            <a href="#" class="thumb-holder">
                                                <img alt="" src="assets/images/blank.gif"
                                                     data-echo="assets/images/products/product-small-06.jpg"/>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.body -->
                    </div> <!-- /.widget -->
                    <!-- ============================================================= ON SALE PRODUCTS : END ============================================================= -->
                </div><!-- /.col -->

                <div class="col-xs-12 col-sm-4 ">
                    <!-- ============================================================= TOP RATED PRODUCTS ============================================================= -->
                    <div class="widget">
                        <h2>Top Rated Products</h2>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 no-margin">
                                            <a href="single-product.html">Galaxy Tab GT-P5210, 10" 16GB Wi-Fi</a>
                                            <div class="price">
                                                <div class="price-prev">$2000</div>
                                                <div class="price-current">$1873</div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-3 no-margin">
                                            <a href="#" class="thumb-holder">
                                                <img alt="" src="assets/images/blank.gif"
                                                     data-echo="assets/images/products/product-small-07.jpg"/>
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 no-margin">
                                            <a href="single-product.html">PowerShot Elph 115 16MP Digital Camera</a>
                                            <div class="price">
                                                <div class="price-prev">$2000</div>
                                                <div class="price-current">$1873</div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-3 no-margin">
                                            <a href="#" class="thumb-holder">
                                                <img alt="" src="assets/images/blank.gif"
                                                     data-echo="assets/images/products/product-small-08.jpg"/>
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 no-margin">
                                            <a href="single-product.html">Surface RT 64GB, Wi-Fi, 10.6in - Dark
                                                Titanium</a>
                                            <div class="price">
                                                <div class="price-prev">$2000</div>
                                                <div class="price-current">$1873</div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-3 no-margin">
                                            <a href="#" class="thumb-holder">
                                                <img alt="" src="assets/images/blank.gif"
                                                     data-echo="assets/images/products/product-small-09.jpg"/>
                                            </a>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.body -->
                    </div><!-- /.widget -->
                    <!-- ============================================================= TOP RATED PRODUCTS : END ============================================================= -->
                </div><!-- /.col -->

            </div><!-- /.widgets-row-->
        </div><!-- /.container -->
{% endblock %}