{% extends 'base.html' %}
{% load staticfiles %}
{% load disqus_tags %}
{% load hitcount_tags %}

<!DOCTYPE html>
<html lang="en">

<nav id="top-megamenu-nav" class="megamenu-vertical animate-dropdown">
    <div class="container-fluid">
        <div class="yamm navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#mc-horizontal-menu-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="mc-horizontal-menu-collapse">
                {% for main in main_category %}
                    <ul class="nav navbar-nav">

                        <li class="dropdown">

                            <a href="" class="dropdown-toggle" data-hover="dropdown"
                               data-toggle="dropdown">{{ main.title }}</a>

                            <ul class="dropdown-menu">
                                {% for category in main.category_set.all %}
                                    <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>


                    </ul><!-- /.navbar-nav -->
                {% endfor %}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.navbar -->
    </div>
</nav><!-- /.megamenu-vertical -->

<div class="animate-dropdown">
    <!-- ========================================= BREADCRUMB ========================================= -->
    <div id="breadcrumb-alt">
        <div class="container">
            <div class="breadcrumb-nav-holder minimal">
                <ul>
                    <li class="dropdown breadcrumb-item">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Book Categories
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Computer Cases &amp; Accessories</a></li>
                            <li><a href="#">CPUs, Processors</a></li>
                            <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                            <li><a href="#">Graphics, Video Cards</a></li>
                            <li><a href="#">Interface, Add-On Cards</a></li>
                            <li><a href="#">Laptop Replacement Parts</a></li>
                            <li><a href="#">Memory (RAM)</a></li>
                            <li><a href="#">Motherboards</a></li>
                            <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                            <li><a href="#">Motherboard Components</a></li>
                        </ul>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item current">
                        <a href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li class="breadcrumb-item current">
                        <a href="#">{{ object.title }}</a>
                    </li>

                </ul>
            </div><!-- /.breadcrumb-nav-holder -->
        </div><!-- /.container -->
    </div><!-- /#breadcrumb-alt -->
    <!-- ========================================= BREADCRUMB : END ========================================= -->
</div>
<body>

<div class="wrapper">

    <!-- ============================================================= TOP NAVIGATION ============================================================= -->

    <!-- ============================================================= TOP NAVIGATION : END ============================================================= -->
    <!-- ============================================================= HEADER ============================================================= -->

    <!-- ============================================================= HEADER : END ============================================================= -->
    {% block content %}

        <section id="blog-single">
            <div class="container">

                <!-- ========================================= CONTENT ========================================= -->

                <div class="posts col-md-9">

                    <div class="post-entry">

                        <div class="post-content">
                            <h2 class="post-title"><span class="text-primary">{{ object.title }}</span></h2>
                            <ul class="meta">
                                <li>Posted By : <strong>{{ object.post_by }}</strong></li>
                                <li>{{ object.timestamp.date }}</li>
                                {% for category in object.categories.all %}
                                    <li>{{ category.title }}</li>
                                {% endfor %}
                                <li><i class="fa fa-eye fa-x" aria-hidden="true"> {% get_hit_count for object %} </i>
                                </li>
                                {#                                <li><a href="#"></a></li>#}
                            </ul><!-- /.meta -->
                            <div id="post-content">
                                <div id="" class="post-media">
                                    {% for img in blogdetail.blogimage_set.all %}
                                        <div class="media">
                                            <img height="450" width="889" src="{{ img.image.url }}">
                                        </div><!-- /.item -->
                                    {% endfor %}
                                </div><!-- /.owl-carousel -->
                            </div>
                        <hr>
                            {{ object.description | safe }}

                        </div><!-- /.post-content -->
                        <div class="meta-row">
                            <div class="inline">
                                <label>tag:</label>
                                {% for tag in object.tags.all %}
                                    <span>
                                    <a href="#">{{ tag }},</a>
                                </span>
                                {% endfor %}

                            </div>
                        </div><!-- /.meta-row -->
                        <hr>
                    </div><!-- /.post-entry -->
                    <label> Share us on:</label>
                    <div class="social-row">

                        <span class="st_facebook_hcount"><a
                                href="http://www.facebook.com/sharer/sharer.php?u=http://www.empowerconsultant.in}"></a></span>
                        <span class="st_twitter_hcount"></span>
                        <span class="st_pinterest_hcount"></span>
                        <span class="st_linkedin_hcount"></span>

                        <span class="st_googleplus_hcount"><a
                                href="https://plus.google.com/share?url=http://your-domain{{ request.get_full_path|urlencode }}"></a></span>
                        <span class="st_stumbleupon_hcount"></span>
                        <span class="st_tumblr_hcount"></span>
                        <span class="st_instagram_hcount"></span>
                    </div>
                    <br>


                    <div class="blog-post-author">
                        <div class="media">
                            <a href="#" class="pull-left"><img src="assets/images/blog-post/blog-author.jpg" alt=""></a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{ object.post_by }}</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod
                                    tincidunt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim
                                    veniam,
                                    quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                                    commodo
                                    consequat. </p>
                            </div>
                        </div>
                    </div><!-- /.blog-post-author -->

                    <section id="comments" class="inner-bottom-xs">

                        <div id="disqus_thread"></div>
                        <script>

                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*
                             var disqus_config = function () {
                             this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                             this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                             };
                             */
                            (function () { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = '//dealsndiscount.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a
                                href="https://disqus.com/?ref_noscript">comments
                            powered by Disqus.</a></noscript>

                    </section>

                </div><!-- /.posts -->

                <!-- ========================================= CONTENT :END ========================================= -->

                <!-- ========================================= SIDEBAR ========================================= -->
                <div class="col-md-3">
                    <aside class="sidebar blog-sidebar">

                        <div class="widget">
                            <h4>About Blog</h4>
                            <div class="body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in
                                    malesuada
                                    aliquam, est erat faucibus purus, eget viverra nulla sem vitae neque. Quisque id
                                    sodales
                                    libero. </p>
                            </div>
                        </div><!-- /.widget -->
                        <div class="widget">
                            <h4>Categories</h4>
                            <div class="body">
                                {% for category in blog_category %}
                                    <ul class="le-links">
                                        <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                                    </ul><!-- /.le-links -->
                                {% endfor %}
                            </div>
                        </div><!-- /.widget -->
                        <div class="widget">
                            <div class="simple-banner">
                                <a href="#"><img alt="" class="img-responsive"
                                                 src="{% static 'assets/images/blank.gif' %}"
                                                 data-echo="{% static 'assets/images/banners/banner-simple.jpg' %}"/></a>
                            </div>
                        </div>
                        <!-- ========================================= RECENT POST ========================================= -->
                        <div class="widget">
                            <h4>Recent Posts</h4>
                            <div class="body">
                                <ul class="recent-post-list">
                                    <li class="sidebar-recent-post-item">
                                        {% for recent in recent_post %}
                                            <div class="media">

                                                {% for img in recent.blogimage_set.all %}
                                                    <a href="{{ recent.get_absolute_url }}"
                                                       class="thumb-holder pull-left">
                                                        <img src="{{ img.image.url }}"/> </a>

                                                {% endfor %}
                                                <div class="media-body">
                                                    <h5>
                                                        <a href="{{ recent.get_absolute_url }}">{{ recent.title|truncatechars:'60' }}</a>
                                                    </h5>
                                                    <div class="posted-date">{{ recent.timestamp.date }}</div>
                                                </div>

                                            </div>
                                        {% endfor %}
                                    </li><!-- /.sidebar-recent-post-item -->
                                </ul><!-- /.recent-post-list -->
                            </div><!-- /.body -->
                        </div><!-- /.widget -->
                        <!-- ========================================= RECENT POST : END ========================================= -->

                        <div class="widget">
                            <div class="simple-banner">
                                <a href="#"><img alt="" class="img-responsive"
                                                 src="{% static 'assets/images/blank.gif' %}"
                                                 data-echo="{% static 'assets/images/banners/banner-simple.jpg' %}"/>
                                </a>
                            </div>
                        </div>

                        <!-- ========================================= New Arrivals Course : START ========================================= -->
                        <div class="widget">
                            <h4>Feature Courses</h4>
                            <div class="body">
                                <ul class="recent-post-list">
                                    <li class="sidebar-recent-post-item">
                                        {% for recent_course in new_arrival_course %}
                                            <div class="media">

                                                {% for img in recent_course.courseimage_set.all %}
                                                    <a href="{{ recent_course.get_absolute_url }}"
                                                       class="thumb-holder pull-left">
                                                        <img src="{{ img.image.url }}"/>
                                                    </a>

                                                {% endfor %}
                                                <div class="media-body">
                                                    <h5>
                                                        <a href="{{ recent_course.get_absolute_url }}"><span
                                                                class=""> {{ recent_course.title|truncatechars:'50' }}</span></a>
                                                    </h5>
                                                    <div class="price">
                                                        {% if recent_course.discount >= 5 %}
                                                            <div class="label-discount">{{ recent_course.discount }}%
                                                                off
                                                            </div>
                                                        {% endif %}
                                                        {% if recent_course.discount == 100 %}
                                                            <div class="price-prev"></div>
                                                            <div class="price-current">Free</div>
                                                        {% else %}
                                                            <div class="price-current">
                                                                ${{ recent_course.sale_price }}</div>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div>
                                        {% endfor %}
                                    </li><!-- /.sidebar-recent-post-item -->
                                </ul><!-- /.recent-post-list -->
                            </div><!-- /.body -->
                        </div><!-- /.widget -->

                        <!-- ========================================= New Arrivals Course : END ========================================= -->
                        <div class="widget">
                            <div class="simple-banner">
                                <a href="#"><img alt="" class="img-responsive"
                                                 src="{% static 'assets/images/blank.gif' %}"
                                                 data-echo="{% static 'assets/images/banners/banner-simple.jpg' %}"/>
                                </a>
                            </div>
                        </div>

                        <!-- ========================================= New Arrivals Books : START ========================================= -->
                        <div class="widget">
                            <h4>Feature Books</h4>
                            <div class="body">
                                <ul class="recent-post-list">
                                    <li class="sidebar-recent-post-item">
                                        {% for recent_book in new_arrival_book %}
                                            <div class="media">

                                                {% for img in recent_book.bookimage_set.all %}
                                                    <a href="{{ recent_book.get_absolute_url }}"
                                                       class="thumb-holder pull-left">
                                                        <img src="{{ img.image.url }}"/>
                                                    </a>

                                                {% endfor %}
                                                <div class="media-body">
                                                    <h5>
                                                        <a href="{{ recent_book.get_absolute_url }}"><span
                                                                class=""> {{ recent_book.title|truncatechars:'50' }}</span></a>
                                                    </h5>
                                                    <div class="price">
                                                        {% if recent_book.discount >= 5 %}
                                                            <div class="label-discount">{{ recent_book.discount }}%
                                                                off
                                                            </div>
                                                        {% endif %}
                                                        {% if recent_book.discount == 100 %}
                                                            <div class="price-prev"></div>
                                                            <div class="price-current">Free</div>
                                                        {% else %}
                                                            <div class="price-current">
                                                                ${{ recent_book.sale_price }}</div>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div>
                                        {% endfor %}
                                    </li><!-- /.sidebar-recent-post-item -->
                                </ul><!-- /.recent-post-list -->
                            </div><!-- /.body -->
                        </div><!-- /.widget -->

                        <!-- ========================================= New Arrivals Books : END ========================================= -->


                        <div class="widget">
                            <h4>Popular Tags</h4>
                            <div class="body">
                                <div class="tagcloud">
                                    {% for tag in all_tags %}
                                        {% if forloop.counter|divisibleby:'4' %}
                                            <a style="font-size: 15pt;"
                                               href="{% url 'blog_tagged' tag.slug %}">{{ tag }},</a>

                                        {% elif tag.name == 'programming' %}
                                            <a style="font-size: 18pt;"
                                               href="{% url 'blog_tagged' tag.slug %}"> {{ tag }}</a>
                                        {% else %}
                                            <a style="font-size: 10pt;"
                                               href="{% url 'blog_tagged' tag.slug %}">{{ tag }},</a>
                                        {% endif %}
                                    {% endfor %}
                                </div><!-- /.tagcloud -->
                            </div><!-- /.body -->
                        </div><!-- /.widget -->

                    </aside><!-- /.sidebar .blog-sidebar -->        </div><!-- /.col -->
                <!-- ========================================= SIDEBAR : END ========================================= -->

                <!-- ========================================= CONTENT ========================================= -->
            </div>
        </section>
    {% endblock %}
    <!-- ============================================================= FOOTER ============================================================= -->
    {% block footer_content %}
        <footer id="footer" class="color-bg">
            <div class="container">
                <div class="row no-margin widgets-row">
                    <div class="col-xs-12  col-sm-4 no-margin-left">
                        <!-- ============================================================= FEATURED PRODUCTS ============================================================= -->
                        <div class="widget">
                            <h2>New Arrivals Courses</h2>
                            <div class="body">
                                <ul>
                                    <li>
                                        <div class="row">
                                            {% for course in recently_course_footer %}
                                                <div class="col-xs-12 col-sm-9 no-margin">
                                                    <a href="{{ course.get_absolute_url }}">{{ course.title | truncatechars:'55' }}</a>
                                                    <div class="price">
                                                        <div class="price-prev">$ {{ course.actual_price }}</div>
                                                        <div class="price-current"><span
                                                                class="bold">$ {{ course.sale_price }}</span></div>
                                                    </div>
                                                </div>

                                                {% for img in course.courseimage_set.all %}
                                                    <div class="col-xs-12 col-sm-3 no-margin">
                                                        <a href="#" class="thumb-holder">
                                                            <img alt="" src="" height="60" width="75"
                                                                 data-echo="{{ img.image.url }}"/>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- /.body -->
                        </div> <!-- /.widget -->
                        <!-- ============================================================= FEATURED PRODUCTS : END ============================================================= -->
                    </div><!-- /.col -->

                    <div class="col-xs-12 col-sm-4 ">
                        <!-- ============================================================= ON SALE PRODUCTS ============================================================= -->
                        <div class="widget">
                            <h2>Top Discount Courses</h2>
                            <div class="body">
                                <ul>
                                    <li>
                                        <div class="row">
                                            {% for course in discount_course_footer %}
                                                <div class="col-xs-12 col-sm-9 no-margin">
                                                    <a href="{{ course.get_absolute_url }}">{{ course.title | truncatechars:'55' }}</a>
                                                    <div class="price">

                                                        <div class="price-prev">$ {{ course.actual_price }}</div>
                                                        <div class="price-current"><span
                                                                class="bold">$ {{ course.sale_price }}</span></div>
                                                    </div>
                                                </div>

                                                {% for img in course.courseimage_set.all %}

                                                    <div class="col-xs-12 col-sm-3 no-margin">
                                                        <a href="#" class="thumb-holder">
                                                            <img alt="" src="" height="60" width="75"
                                                                 data-echo="{{ img.image.url }}"/>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- /.body -->
                        </div> <!-- /.widget -->
                        <!-- ============================================================= ON SALE PRODUCTS : END ============================================================= -->
                    </div><!-- /.col -->

                    <div class="col-xs-12 col-sm-4 ">
                        <!-- ============================================================= TOP RATED PRODUCTS ============================================================= -->
                        <div class="widget">
                            <h2>New Arrival Books</h2>
                            <div class="body">
                                <ul>
                                    <li>
                                        <div class="row">
                                            {% for book in book_footer %}
                                                <div class="col-xs-12 col-sm-9 no-margin">
                                                    <a href="{{ book.get_absolute_url }}">{{ book.title | truncatechars:'60' }}</a>
                                                    <div class="price">
                                                        <div class="price-prev">$ {{ book.actual_price }}</div>
                                                        <div class="price-current"><span
                                                                class="bold">$ {{ book.sale_price }}</span></div>
                                                    </div>
                                                </div>

                                                {% for img in book.bookimage_set.all %}
                                                    <div class="col-xs-12 col-sm-3 no-margin">
                                                        <a href="#" class="thumb-holder">
                                                            <img alt="" src="" height="57" width="75"
                                                                 data-echo="{{ img.image.url }}"/>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- /.body -->
                        </div><!-- /.widget -->
                        <!-- ============================================================= TOP RATED PRODUCTS : END ============================================================= -->
                    </div><!-- /.col -->

                </div><!-- /.widgets-row-->
            </div><!-- /.container -->

            <div class="sub-form-row">
                <div class="container">
                    <div class="sub-form-row">
                        <div class="container">
                            <div class="col-xs-12 col-sm-8 col-sm-offset-2 no-padding">
                                <form role="form" action="/newsletter/dealsndiscount/subscribe/" method="POST">
                                    {% csrf_token %}
                                    <input placeholder="Subscribe to our newsletter">
                                    <button class="le-button">Subscribe</button>
                                </form>
                            </div>
                        </div><!-- /.container -->
                    </div><!-- /.sub-form-row -->
                </div><!-- /.container -->
            </div><!-- /.sub-form-row -->

            <div class="link-list-row">
                <div class="container no-padding">
                    <div class="col-xs-12 col-md-4 ">
                        <!-- ============================================================= CONTACT INFO ============================================================= -->
                        <div class="contact-info">
                            <div class="footer-logo">
                                <div class="logo">
                                    <a href="{% url 'index' %}">
                                        <img alt="logo" src="{% static 'assets/images/logo.png' %}" width="233"
                                             height="54"/>
                                    </a>
                                </div><!-- /.logo -->
                            </div><!-- /.footer-logo -->

                            <p class="regular-bold"> Feel free to contact us via email.</p>

                            <i class="fa fa-envelope"></i><span class="le-color"> hello@learneskills.com</span>

                            <div class="social-icons">
                                <h3>Get in touch</h3>
                                <ul>
                                    <li><a href="http://facebook.com/transvelo" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-pinterest"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                    <li><a href="#" class="fa fa-stumbleupon"></a></li>
                                    <li><a href="#" class="fa fa-dribbble"></a></li>
                                    <li><a href="#" class="fa fa-vk"></a></li>
                                </ul>
                            </div><!-- /.social-icons -->

                        </div>
                        <!-- ============================================================= CONTACT INFO : END ============================================================= -->
                    </div>

                    <div class="col-xs-12 col-md-8 no-margin">
                        <!-- ============================================================= LINKS FOOTER ============================================================= -->
                        <div class="link-widget">
                            <div class="widget">
                                <h3 class="text-success">Courses Tag List</h3>
                                {% for tag in course_tags %}

                                    {% if forloop.counter|divisibleby:'3' %}
                                        <a style="font-size: 13pt;"
                                           href="{% url 'tagged' tag.slug %}"><span class="text-muted">{{ tag }},</span></a>

                                    {% elif tag.name == 'programming' and 'development' %}
                                        <a style="font-size: 18pt;"
                                           href="{% url 'tagged' tag.slug %}"> <span
                                                class="text-muted">{{ tag }},</span></a>
                                    {% else %}
                                        <a style="font-size: 10pt;"
                                           href="{% url 'tagged' tag.slug %}"><span class="text-muted">{{ tag }},</span></a>
                                    {% endif %}

                                {% endfor %}
                            </div><!-- /.widget -->
                        </div><!-- /.link-widget -->

                        <div class="link-widget">
                            <div class="widget">
                                <h3 class="text-success">Books Tag List</h3>
                                <div class="tagcloud">
                                    {% for tag in book_tags %}
                                        {% if forloop.counter|divisibleby:'3' %}
                                            <a style="font-size: 14pt;"
                                               href="{% url 'book-tagged' tag.slug %}"><span
                                                    class="text-muted">{{ tag }},</span></a>

                                        {% elif tag.name %}
                                            <a style="font-size: 10pt;"
                                               href="{% url 'book-tagged' tag.slug %}"> <span
                                                    class="text-muted">{{ tag }},</span></a>
                                        {% else %}
                                            <a style="font-size: 16pt;"
                                               href="{% url 'book_tagged' tag.slug %}"><span
                                                    class="text-muted">{{ tag }},</span></a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div><!-- /.widget -->
                        </div><!-- /.link-widget -->

                        <div class="link-widget">
                            <div class="widget">
                                <h3 class="text-success">Blog Tag List</h3>
                                <div class="tagcloud">

                                    {% for tag in blog_tags %}
                                        {% if forloop.counter|divisibleby:'3' %}
                                            <a style="font-size: 13pt;"
                                               href="{% url 'blog_tagged' tag.slug %}"><span
                                                    class="text-muted">{{ tag }}</span></a>

                                        {% elif tag.name == 'programming' %}
                                            <a style="font-size: 18pt;"
                                               href="{% url 'blog_tagged' tag.slug %}"><span
                                                    class="text-muted">{{ tag }},</span></a>
                                        {% else %}
                                            <a style="font-size: 10pt;"
                                               href="{% url 'blog_tagged' tag.slug %}"><span
                                                    class="text-muted">{{ tag }},</span></a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div><!-- /.widget -->
                        </div><!-- /.link-widget -->
                        <!-- ============================================================= LINKS FOOTER : END ============================================================= -->
                    </div>
                </div><!-- /.container -->
            </div><!-- /.link-list-row -->

            <div class="copyright-bar">
                <div class="container">
                    <div class="col-xs-12 col-sm-6 no-margin">
                        <div class="copyright">
                            &copy; <a href="index.html">learnEskills</a> - all rights reserved
                        </div><!-- /.copyright -->
                    </div>
                </div><!-- /.container -->
            </div><!-- /.copyright-bar -->

        </footer><!-- /#footer -->
    {% endblock %}
    <!-- ============================================================= FOOTER : END ============================================================= -->
</div><!-- /.wrapper -->

<!-- For demo purposes – can be removed on production -->

<div class="config open">
    <div class="config-options">
        <h4>Pages</h4>
        <ul class="list-unstyled animate-dropdown">
            <li class="dropdown">
                <button class="dropdown-toggle btn le-button btn-block" data-toggle="dropdown">View Pages</button>
                <ul class="dropdown-menu">
                    <li><a href="../../../templates/index.html">Home</a></li>
                    <li><a href="index-2.html">Home Alt</a></li>
                    <li><a href="category-grid.html">Category - Grid/List</a></li>
                    <li><a href="category-grid-2.html">Category 2 - Grid/List</a></li>
                    <li><a href="single-product.html">Single Product</a></li>
                    <li><a href="single-product-sidebar.html">Single Product with Sidebar</a></li>
                    <li><a href="cart.html">Shopping Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="../../../templates/contact.html">Contact Us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-fullwidth.html">Blog Full Width</a></li>
                    <li><a href="blog-post.html">Blog Post</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="terms.html">Terms & Conditions</a></li>
                    <li><a href="authentication.html">Login/Register</a></li>
                </ul>
            </li>
        </ul>
        <h4>Header Styles</h4>
        <ul class="list-unstyled">
            <li><a href="blog-post.html1">Header 1</a></li>
            <li><a href="blog-post.html">Header 2</a></li>
        </ul>
        <h4>Colors</h4>
        <ul class="list-unstyled">
            <li><a class="changecolor green-text" href="#" title="Green color">Green</a></li>
            <li><a class="changecolor blue-text" href="#" title="Blue color">Blue</a></li>
            <li><a class="changecolor red-text" href="#" title="Red color">Red</a></li>
            <li><a class="changecolor orange-text" href="#" title="Orange color">Orange</a></li>
            <li><a class="changecolor navy-text" href="#" title="Navy color">Navy</a></li>
            <li><a class="changecolor dark-green-text" href="#" title="Darkgreen color">Dark Green</a></li>
        </ul>
    </div>
    <a class="show-theme-options" href="#"><i class="fa fa-wrench"></i></a>
</div>
<!-- For demo purposes – can be removed on production : End -->
<script id="dsq-count-scr" src="//dealsndiscount.disqus.com/count.js" async></script>
<!-- JavaScripts placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery-1.10.2.min.js"></script>
<script src="assets/js/jquery-migrate-1.2.1.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="assets/js/gmap3.min.js"></script>
<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/css_browser_selector.min.js"></script>
<script src="assets/js/echo.min.js"></script>
<script src="assets/js/jquery.easing-1.3.min.js"></script>
<script src="assets/js/bootstrap-slider.min.js"></script>
<script src="assets/js/jquery.raty.min.js"></script>
<script src="assets/js/jquery.prettyPhoto.min.js"></script>
<script src="assets/js/jquery.customSelect.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/scripts.js"></script>

<!-- For demo purposes – can be removed on production -->

<script src="switchstylesheet/switchstylesheet.js"></script>

<script>
    $(document).ready(function () {
        $(".changecolor").switchstylesheet({seperator: "color"});
        $('.show-theme-options').click(function () {
            $(this).parent().toggleClass('open');
            return false;
        });
    });

    $(window).bind("load", function () {
        $('.show-theme-options').delay(2000).trigger('click');
    });
</script>
<!-- For demo purposes – can be removed on production : End -->

<script src="http://w.sharethis.com/button/buttons.js"></script>

</body>
</html>