<!DOCTYPE html>
{% load staticfiles %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MJKKQ6P');</script>
    <!-- End Google Tag Manager -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="deals,discount,udemy course, udemy coupon, free course">
    <meta name="author" content="">
    <meta name="keywords" content="deals,discount,udemy course, udemy coupon, free course">
    <meta name="robots" content="all">

    <title> dealsndiscount.co | deals, discount, courses, free courses & more </title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/green.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- Extra -->
    <link rel="stylesheet" href="{% static 'assets/css/prettyPhoto.css' %}">


    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
			<script src="{% static 'assets/js/html5shiv.js' %}"></script>
			<script src="{% static 'assets/js/respond.min.js' %}"></script>
		<![endif]-->
    <script type="text/javascript" src="{% static "tiny_mce/tiny_mce.js" %}"></script>
    <script type="text/javascript" src="{% static "tiny_mce/tiny_mce_src.js" %}"></script>
    <script type="text/javascript" src="{% static "tiny_mce/tiny_mce_popup.js" %}"></script>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    {#    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>#}
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            remove_linebreaks: True,
            theme: 'modern',
            width: 600,
            height: 300,
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor '
            ],
            content_css: 'css/content.css',
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-93464015-1', 'auto');
        ga('send', 'pageview');

    </script>


</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJKKQ6P"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="wrapper">
    <!-- ============================================================= TOP NAVIGATION ============================================================= -->
    {% block navigation %}
        <nav class="top-bar animate-dropdown">
            <div class="container">

                <div class="no-margin">
                    <ul>
                        <li class="pull-left"><a href="{% url 'index' %}">Home</a></li>
                        <li class="pull-left"><a href="/course/tag/course/free"> Free Course</a></li>

                        <li class="pull-left"><a href="{% url 'blog' %}">Blog</a></li>
                        <li class="pull-left"><a href="{% url 'email' %}">Contact</a></li>

                        {#                        {% if user.is_authenticated %}#}
                        {#                            <li class="pull-right"><a href="{% url 'auth_logout' %}">Logout</a></li>#}
                        {#                            <li class="pull-right"><span#}
                        {#                                    class="text-success"><strong>Hi, {{ user.username }}</strong></span></li>#}
                        {#                        {% else %}#}
                        {#                            <li class="pull-right"><a href="{% url 'auth_login' %}"> Login</a></li>#}
                        {#                            <li class="pull-right"><a href="{% url 'registration_register' %}"> Register </a></li>#}
                        {#                        {% endif %}#}
                    </ul>
                </div><!-- /.col -->
            </div><!-- /.container -->
        </nav><!-- /.top-bar -->
    {% endblock %}
    <!-- ============================================================= TOP NAVIGATION : END ============================================================= -->
    <!-- ============================================================= HEADER ============================================================= -->



    {% block header %}


    {% endblock %}
    <!-- ============================================================= HEADER : END ============================================================= -->
    <div id="top-banner-and-menu">

        {% block content %}


        {% endblock %}
        <!-- ============================================================= FOOTER ============================================================= -->
        {% block footer_content %}

        {% endblock %}
        <!-- ============================================================= FOOTER : END ============================================================= -->
    </div><!-- /.wrapper -->

    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-migrate-1.2.1.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="{% static 'assets/js/gmap3.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-hover-dropdown.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/css_browser_selector.min.js' %}"></script>
    <script src="{% static 'assets/js/echo.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing-1.3.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-slider.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.raty.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.prettyPhoto.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.customSelect.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>

    {#    <script src="{% static 'assets/js/buttons.js' %}"></script>#}
    <script src="http://w.sharethis.com/button/buttons.js"></script>

</div>
</body>
</html>