{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load ratings %}
{% load hitcount_tags %}

{% block header %}
    <header>
        <div class="container no-padding">

            <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                <!-- ============================================================= LOGO ============================================================= -->
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img alt="logo" src="{% static 'assets/images/logo.png' %}" width="233" height="54"/>
                    </a>
                </div><!-- /.logo -->
                <!-- ============================================================= LOGO : END ============================================================= -->
            </div><!-- /.logo-holder -->

            <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder no-margin">
                <div class="contact-row">
                    <div class="phone inline">
                    </div>
                    <div class="contact inline">
                        <i class="fa fa-envelope"></i><span class="le-color"> contact@booksntutorials.com</span>
                    </div>
                </div><!-- /.contact-row -->
                <!-- ============================================================= SEARCH AREA ============================================================= -->
                <div class="search-area">
                    <form action="/search/" method="GET" role="form">
                        <div class="control-group">

                            <input class="search-field" name="q" placeholder="Search for Tutorials and Books "/>
                            <a type="submit" value="Search" class="search-button"></a>
                        </div>
                    </form>
                </div><!-- /.search-area -->

                <!-- ============================================================= SEARCH AREA : END ============================================================= -->
            </div><!-- /.top-search-holder -->
        </div><!-- /.container -->
    </header>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-12 col-sm-4 col-md-3 sidemenu-holder">
            <!-- ================================== TOP NAVIGATION ================================== -->
            <div class="side-menu animate-dropdown">
                <div class="head"><i class="fa fa-list"></i>Course Categories</div>
                <nav class="yamm megamenu-horizontal" role="navigation">
                    <ul class="nav">

                        {% for main in main_category %}

                            <li class="dropdown menu-item">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ main.title }}</a>
                                <ul class="dropdown-menu mega-menu">
                                    <li class="yamm-content">

                                        <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-4">
                                                <ul>
                                                    {% for category in main.category_set.all %}
                                                        <li>
                                                            <a href="{{ category.get_absolute_url }}">{{ category.title }}
                                                                ({{ category.course_detail_set.count }})</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                    </li>
                                </ul>
                            </li><!-- /.menu-item -->
                        {% endfor %}

                    </ul><!-- /.nav -->
                </nav><!-- /.megamenu-horizontal -->
            </div><!-- /.side-menu -->
            <!-- ================================== TOP NAVIGATION : END ================================== -->
        </div><!-- /.sidemenu-holder -->

        <div class="col-xs-12 col-sm-8 col-md-9 homebanner-holder">
            <!-- ========================================== SECTION – HERO ========================================= -->

            <div id="hero">
                <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

                    <div class="item">

                        <img height="800" src="{% static 'assets/images/banners/featured-img-02.jpg' %}">
                        <div class="container-fluid">
                            <div class="caption vertical-center text-left">
                                <div class="big-text fadeInDown-1" style="color: white">
                                    Save up to a<span class="big" style="color: white"><span class="sign"
                                                                                             style="color: white">$</span>400</span>
                                </div>

                                <div class="excerpt fadeInDown-2" style="color: white">
                                    on selected laptops<br>
                                    & desktop pcs or<br>
                                    smartphones
                                </div>
                                <div class="button-holder fadeInDown-3">
                                    <a href="#" class="big le-button ">shop now</a>
                                </div>
                            </div><!-- /.caption -->
                        </div><!-- /.container-fluid -->
                    </div><!-- /.item -->

                    <div class="item">
                        <img src="{% static 'assets/images/banners/serviciosmain.png' %}">
                        <div class="container-fluid">
                            <div class="caption vertical-center text-left">
                                <div class="big-text fadeInDown-1" style="color: white">
                                    Want a<span class="big" style="color: white"><span class="sign"
                                                                                       style="color: white">$</span>200</span>Discount?
                                </div>

                                <div class="excerpt fadeInDown-2" style="color: white">
                                    on selected <br>desktop pcs<br>
                                </div>
                                <div class="button-holder fadeInDown-3">
                                    <a href="#" class="big le-button ">shop now</a>
                                </div>
                            </div><!-- /.caption -->
                        </div><!-- /.container-fluid -->
                    </div><!-- /.item -->

                </div><!-- /.owl-carousel -->
            </div>

            <!-- ========================================= SECTION – HERO : END ========================================= -->
        </div><!-- /.homebanner-holder -->

    </div><!-- /.container --> <br>


    <!-- =========================================  HOME BANNERS ========================================= -->
    <section id="banner-holder" class="wow fadeInUp">
        <div class="container">
            <div class="col-xs-12 col-lg-6 no-margin banner">
                <a href="{% url 'all_course' %}">
                    <div class="banner-text theblue">
                        <h1></h1>
                        <span class="tagline"></span>
                    </div>
                    <img height="157" width="570" class="banner-image" alt=""
                         src="{% static 'assets/images/blank.gif' %}"
                         data-echo="{% static 'assets/images/courses-final.jpg' %}"/>
                </a>
            </div>

            <div class="col-xs-12 col-lg-6 no-margin banner">
                <a href="{% url 'all_books' %}">
                    <div class="banner-text theblue">
                        <h1>Books</h1>
                        <span class="tagline"></span>
                    </div>
                    <img height="157" width="570" class="banner-image" alt=""
                         src="{% static 'assets/images/blank.gif' %}"
                         data-echo="{% static 'assets/images/book-image.jpg' %}"/>
                </a>
            </div>
        </div><!-- /.container -->
    </section><!-- /#banner-holder -->
    <!-- ========================================= HOME BANNERS : END ========================================= -->

    <!-- ========= Features Courses start =========== -->
    <!-- ================== Featured Course End =================== -->

    <!-- ========= New Arrivals Courses start =========== -->
    <div id="products-tab" class="wow fadeInUp">
        <div class="container">
            <div class="tab-holder">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#new-arrivals" data-toggle="tab">new arrival Courses</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="featured">
                        <div class="product-grid-holder">

                            <!-- Dynamic Course Details -->
                            {% for course in course_detail_recently_updated_list %}
                                <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                    <div class="product-item">
                                        <div class="ribbon blue"><span>new!</span></div>
                                        {# <div class="ribbon green"><span>bestseller</span></div>#}
                                        {# <div class="ribbon red"><span>sale</span></div>#}
                                        {% for img in course.courseimage_set.all %}
                                            <div class="image">
                                                <a href="{{ course.get_absolute_url }}">
                                                    <img alt="" src="assets/images/blank.gif" height="180" width="250"
                                                         data-echo="{{ img.image.url }}"/> </a>

                                            </div>
                                        {% endfor %}
                                        <div class="body">
                                            <div class="label-discount green">-{{ course.discount }}% sale</div>

                                            <div class="title">
                                                <a href="{{ course.get_absolute_url }}"> {{ course.title | truncatechars:'50' }}</a>
                                            </div>
                                            <div class="text-default small">{{ course.sub_title | lower |truncatechars:'70' }}</div>
                                        </div>
                                        <div class="prices">
                                            <div class="price-prev">${{ course.actual_price }}</div>
                                            <div class="price-current pull-right">${{ course.sale_price }}</div>
                                        </div>

                                        <div class="hover-area">
                                            <div class="add-cart-button">
                                                <a href="{{ course.get_absolute_url }}" class="le-button">take this
                                                    course</a>
                                            </div>
                                            <div class="wish-compare">
                                                <a class="text-left" href="#"><i
                                                        class="fa fa-eye fa-1x text-muted"> {% get_hit_count for course %} </i></a>
                                                <a class="text-right text-muted" href="#"><span>Enrolled:</span> <span
                                                        class="text-primary">{{ course.student_enrolled }}+ students</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- Dynamic Course Detail END -->
                        </div>
                        <div class="loadmore-holder text-center">
                            <a class="btn-loadmore" href="{% url 'recently_added' %}">
                                <i class="fa fa-plus"></i>
                                View all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================== New Arrivals Course End =================== -->

    <!-- ========= Top Discount Courses start =========== -->
    <div id="products-tab" class="wow fadeInUp">
        <div class="container">
            <div class="tab-holder">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#top-sales" data-toggle="tab">Top Discount Course</a></li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="featured">
                        <div class="product-grid-holder">

                            <!-- Dynamic Course Details -->

                            {% for course in course_detail_discount_list %}
                                {% if course.discount < 99 %}
                                    <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                        <div class="product-item">
                                            {# <div class="ribbon blue"><span>new!</span></div>#}
                                            {# <div class="ribbon green"><span>bestseller</span></div>#}
                                            <div class="ribbon red"><span>sale</span></div>
                                            {% for img in course.courseimage_set.all %}
                                                <div class="image">
                                                    <a href="{{ course.get_absolute_url }}">
                                                        <img alt="" src="assets/images/blank.gif" height="180"
                                                             width="250"
                                                             data-echo="{{ img.image.url }}"/>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                            <div class="body">
                                                <div class="label-discount green">-{{ course.discount }}% sale</div>
                                                <div class="title">
                                                    <a href="{{ course.get_absolute_url }}"> {{ course.title | truncatechars:'50' }}</a>
                                                </div>
                                                <div class="text-default small">{{ course.sub_title | lower |truncatechars:'70' }}</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-prev">${{ course.actual_price }}</div>
                                                <div class="price-current pull-right">${{ course.sale_price }}</div>

                                            </div>

                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="{{ course.get_absolute_url }}" class="le-button">take this
                                                        course</a>
                                                </div>
                                                <div class="wish-compare">
                                                    <a class="text-left" href="#"><i
                                                            class="fa fa-eye fa-1x text-muted"> {% get_hit_count for course %} </i></a>
                                                    <a class="text-right text-muted" href="#"><span>Enrolled:</span>
                                                        <span class="text-primary">{{ course.student_enrolled }}+ students</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <!-- Dynamic Course Detail END -->
                        </div>
                        <div class="loadmore-holder text-center">
                            <a class="btn-loadmore" href="{% url 'top_discount' %}">
                                <i class="fa fa-plus"></i>
                                View all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================== Top Discount Course End =================== -->




    <!-- ========================================= New Arrival Books ========================================= -->

    <div id="recently-reviewd" class="wow fadeInUp">
        <div class="container">
            <div class="tab-holder medium">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#top-sales" data-toggle="tab">New Arrival Books</a></li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="featured">
                        <div class="product-grid-holder">

                            <!-- Dynamic Course Details -->

                            {% for book in recently_updated_book %}

                                <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                    <div class="product-item">
                                        <div class="ribbon blue"><span>new!</span></div>
                                        {#                                         <div class="ribbon green"><span>bestseller</span></div>#}
                                        {#                                        <div class="ribbon red"><span>sale</span></div>#}
                                        {% for img in book.bookimage_set.all %}
                                            <div class="image">
                                                <a href="{{ book.get_absolute_url }}">
                                                    <img alt="" src="assets/images/blank.gif" height="200" width="220"
                                                         data-echo="{{ img.image.url }}"/>
                                                </a>
                                            </div><br>
                                        {% endfor %}
                                        <div class="body">
                                            <div class="label-discount green">-{{ book.discount }}% sale</div>
                                            <div class="title">
                                                <a href="{{ book.get_absolute_url }}"> {{ book.title | truncatechars:'50' }}</a>
                                            </div>
                                            <div class="text-default small">by <strong>{{ book.author_name }}</strong>
                                            </div>
                                        </div>
                                        <div class="prices">
                                            <div class="price-prev">${{ book.actual_price }}</div>
                                            <div class="price-current pull-right">${{ book.sale_price }}</div>

                                        </div>

                                        <div class="hover-area">
                                            <div class="add-cart-button">
                                                <a href="{{ book.get_absolute_url }}" class="le-button">take this
                                                    course</a>
                                            </div>
                                            <div class="wish-compare">
                                                <a class="text-left" href="#"><i
                                                        class="fa fa-eye fa-1x text-muted"> {% get_hit_count for book %} </i></a>
                                                <a class="text-right text-muted" href="#"><span></span>
                                                    <span class="text-primary"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                            <!-- Dynamic Course Detail END -->
                        </div>
                        <div class="loadmore-holder text-center">
                            <a class="btn-loadmore" href="{% url 'recently_added_book_list' %}">
                                <i class="fa fa-plus"></i>
                                View all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ========================================= Books : END ========================================= -->
    <!-- ========================================= Top Discount Books ========================================= -->
    <div id="recently-reviewd" class="wow fadeInUp">
        <div class="container">
            <div class="tab-holder medium">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#top-sales" data-toggle="tab">Top Discount Books</a></li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="featured">
                        <div class="product-grid-holder">

                            <!-- Dynamic Course Details -->

                            {% for book in top_discount_book %}

                                <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                    <div class="product-item">
                                        {# <div class="ribbon blue"><span>new!</span></div>#}
                                        {# <div class="ribbon green"><span>bestseller</span></div>#}
                                        <div class="ribbon red"><span>-{{ book.discount }}% off</span></div>
                                        {% for img in book.bookimage_set.all %}
                                            <div class="image">
                                                <a href="{{ book.get_absolute_url }}">
                                                    <img alt="" src="assets/images/blank.gif" height="220" width="220"
                                                         data-echo="{{ img.image.url }}"/>
                                                </a>
                                            </div>
                                        {% endfor %}
                                        <div class="body">
                                            <div class="title">
                                                <a href="{{ book.get_absolute_url }}"> {{ book.title | truncatechars:'50' }}</a>
                                            </div>
                                            <div class="text-default small">by <strong>{{ book.author_name }}</strong>
                                            </div>
                                        </div>
                                        <div class="prices">
                                            <div class="price-prev">${{ book.actual_price }}</div>
                                            <div class="price-current pull-right">${{ book.sale_price }}</div>

                                        </div>

                                        <div class="hover-area">
                                            <div class="add-cart-button">
                                                <a href="{{ book.get_absolute_url }}" class="le-button">take this
                                                    course</a>
                                            </div>
                                            <div class="wish-compare">
                                                <a class="text-left" href="#"><i
                                                        class="fa fa-eye fa-1x text-muted"> {% get_hit_count for book %} </i></a>
                                                <a class="text-right text-muted" href="#"><span></span>
                                                    <span class="text-primary"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                            <!-- Dynamic Course Detail END -->
                        </div>
                        <div class="loadmore-holder text-center">
                            <a class="btn-loadmore" href="{% url 'top_discount_book_list' %}">
                                <i class="fa fa-plus"></i>
                                View all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- ========================================= Top Discount Books : END ========================================= -->
    <!-- ========================================= Course Providers ========================================= -->
    <section id="top-brands" class="wow fadeInUp">
        <div class="container">
            <div class="carousel-holder">

                <div class="title-nav">
                    <h1>Course Providers</h1>
                    <div class="nav-holder">
                        <a href="#prev" data-target="#owl-brands" class="slider-prev btn-prev fa fa-angle-left"></a>
                        <a href="#next" data-target="#owl-brands" class="slider-next btn-next fa fa-angle-right"></a>
                    </div>
                </div><!-- /.title-nav -->

                <div id="owl-brands" class="owl-carousel brands-carousel">

                    {% for provider in course_provider_list %}
                        <div class="carousel-item">
                            <a target="_blank" href="{{ provider.get_absolute_url }}">
                                <p class="text-primary"
                                   style="font-size: x-large">{{ provider.course_provider_name }}</p>
                            </a>
                        </div><!-- /.carousel-item -->
                    {% endfor %}

                    {#                    <div class="carousel-item">#}
                    {#                        <a href="#">#}
                    {#                            <img height="35" src="{% static 'assets/images/brands/udelogo.PNG' %}"/>#}
                    {#                        </a>#}
                    {#                        {% endfor %}#}
                    {#                    </div><!-- /.carousel-item -->#}
                    {##}
                    {#                    <div class="carousel-item">#}
                    {#                        <a href="#">#}
                    {#                            <img height="35"#}
                    {#                                 src="{% static 'assets/images/brands/lynda.com-Logo-and-Website-720x294.jpg' %}"/>#}
                    {#                        </a>#}
                    {#                    </div><!-- /.carousel-item -->#}
                    {##}
                    {#                    <div class="carousel-item">#}
                    {#                        <a href="#">#}
                    {#                            <img height="35" src="{% static 'assets/images/brands/Treehouse.png' %}"/>#}
                    {#                        </a>#}
                    {#                    </div><!-- /.carousel-item -->#}
                    {##}
                    {#                    <div class="carousel-item">#}
                    {#                        <a href="#">#}
                    {#                            <img alt="" src="assets/images/brands/brand-04.jpg"/>#}
                    {#                        </a>#}
                    {#                    </div><!-- /.carousel-item -->#}
                    {##}
                    {#                    <div class="carousel-item">#}
                    {#                        <a href="#">#}
                    {#                            <img alt="" src="assets/images/brands/brand-01.jpg"/>#}
                    {#                        </a>#}
                    {#                    </div><!-- /.carousel-item -->#}
                    {##}
                    {#                    <div class="carousel-item">#}
                    {#                        <a href="#">#}
                    {#                            <img alt="" src="assets/images/brands/brand-02.jpg"/>#}
                    {#                        </a>#}
                    {#                    </div><!-- /.carousel-item -->#}
                    {##}
                    {#                    <div class="carousel-item">#}
                    {#                        <a href="#">#}
                    {#                            <img alt="" src="assets/images/brands/brand-03.jpg"/>#}
                    {#                        </a>#}
                    {#                    </div><!-- /.carousel-item -->#}
                    {##}
                    {#                    <div class="carousel-item">#}
                    {#                        <a href="#">#}
                    {#                            <img alt="" src="assets/images/brands/brand-04.jpg"/>#}
                    {#                        </a>#}
                    {#                    </div><!-- /.carousel-item -->#}

                </div><!-- /.brands-caresoul -->

            </div><!-- /.carousel-holder -->
        </div><!-- /.container -->
    </section><!-- /#top-brands -->
    <!-- ========================================= TOP BRANDS : END ========================================= -->

    <footer id="footer" class="color-bg">
                <div class="sub-form-row">
                    <div class="container">

                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 no-padding">
                            <form role="form" action="/newsletter/dealsndiscount/subscribe/" method="POST">
                                {% csrf_token %}

                                <button class="btn btn-success col-md-offset-2 col-md-8" style="width: 580px; height: 60px;"><span class="big-text">Subscribe</span></button>

                            </form>
                        </div>
                    </div><!-- /.container -->
                </div><!-- /.sub-form-row -->

            {#            <div class="container">#}
            {#                <div class="row no-margin widgets-row">#}
            {#                    <div class="col-xs-12  col-sm-4 no-margin-left">#}
            {#                        <!-- ============================================================= FEATURED PRODUCTS ============================================================= -->#}
            {#                        <div class="widget">#}
            {#                            <h2>Featured products</h2>#}
            {#                            <div class="body">#}
            {#                                <ul>#}
            {#                                    <li>#}
            {#                                        <div class="row">#}
            {#                                            <div class="col-xs-12 col-sm-9 no-margin">#}
            {#                                                <a href="single-product.html">Netbook Acer Travel B113-E-10072</a>#}
            {#                                                <div class="price">#}
            {#                                                    <div class="price-prev">$2000</div>#}
            {#                                                    <div class="price-current">$1873</div>#}
            {#                                                </div>#}
            {#                                            </div>#}
            {##}
            {#                                            <div class="col-xs-12 col-sm-3 no-margin">#}
            {#                                                <a href="#" class="thumb-holder">#}
            {#                                                    <img alt="" src="assets/images/blank.gif"#}
            {#                                                         data-echo="assets/images/products/product-small-01.jpg"/>#}
            {#                                                </a>#}
            {#                                            </div>#}
            {#                                        </div>#}
            {#                                    </li>#}
            {##}
            {#                                    <li>#}
            {#                                        <div class="row">#}
            {#                                            <div class="col-xs-12 col-sm-9 no-margin">#}
            {#                                                <a href="single-product.html">PowerShot Elph 115 16MP Digital Camera</a>#}
            {#                                                <div class="price">#}
            {#                                                    <div class="price-prev">$2000</div>#}
            {#                                                    <div class="price-current">$1873</div>#}
            {#                                                </div>#}
            {#                                            </div>#}
            {#                                            <div class="col-xs-12 col-sm-3 no-margin">#}
            {#                                                <a href="#" class="thumb-holder">#}
            {#                                                    <img alt="" src="assets/images/blank.gif"#}
            {#                                                         data-echo="assets/images/products/product-small-02.jpg"/>#}
            {#                                                </a>#}
            {#                                            </div>#}
            {#                                        </div>#}
            {#                                    </li>#}
            {##}
            {#                                    <li>#}
            {#                                        <div class="row">#}
            {#                                            <div class="col-xs-12 col-sm-9 no-margin">#}
            {#                                                <a href="single-product.html">PowerShot Elph 115 16MP Digital Camera</a>#}
            {#                                                <div class="price">#}
            {#                                                    <div class="price-prev">$2000</div>#}
            {#                                                    <div class="price-current">$1873</div>#}
            {#                                                </div>#}
            {#                                            </div>#}
            {##}
            {#                                            <div class="col-xs-12 col-sm-3 no-margin">#}
            {#                                                <a href="#" class="thumb-holder">#}
            {#                                                    <img alt="" src="assets/images/blank.gif"#}
            {#                                                         data-echo="assets/images/products/product-small-03.jpg"/>#}
            {#                                                </a>#}
            {#                                            </div>#}
            {#                                        </div>#}
            {#                                    </li>#}
            {#                                </ul>#}
            {#                            </div><!-- /.body -->#}
            {#                        </div> <!-- /.widget -->#}
            {#                        <!-- ============================================================= FEATURED PRODUCTS : END ============================================================= -->#}
            {#                    </div><!-- /.col -->#}
            {##}
            {#                    <div class="col-xs-12 col-sm-4 ">#}
            {#                        <!-- ============================================================= ON SALE PRODUCTS ============================================================= -->#}
            {#                        <div class="widget">#}
            {#                            <h2>On-Sale Products</h2>#}
            {#                            <div class="body">#}
            {#                                <ul>#}
            {#                                    <li>#}
            {#                                        <div class="row">#}
            {#                                            <div class="col-xs-12 col-sm-9 no-margin">#}
            {#                                                <a href="single-product.html">HP Scanner 2910P</a>#}
            {#                                                <div class="price">#}
            {#                                                    <div class="price-prev">$2000</div>#}
            {#                                                    <div class="price-current">$1873</div>#}
            {#                                                </div>#}
            {#                                            </div>#}
            {##}
            {#                                            <div class="col-xs-12 col-sm-3 no-margin">#}
            {#                                                <a href="#" class="thumb-holder">#}
            {#                                                    <img alt="" src="assets/images/blank.gif"#}
            {#                                                         data-echo="assets/images/products/product-small-04.jpg"/>#}
            {#                                                </a>#}
            {#                                            </div>#}
            {#                                        </div>#}
            {##}
            {#                                    </li>#}
            {#                                    <li>#}
            {#                                        <div class="row">#}
            {#                                            <div class="col-xs-12 col-sm-9 no-margin">#}
            {#                                                <a href="single-product.html">Galaxy Tab 3 GT-P5210 16GB, Wi-Fi, 10.1in#}
            {#                                                    - White</a>#}
            {#                                                <div class="price">#}
            {#                                                    <div class="price-prev">$2000</div>#}
            {#                                                    <div class="price-current">$1873</div>#}
            {#                                                </div>#}
            {#                                            </div>#}
            {##}
            {#                                            <div class="col-xs-12 col-sm-3 no-margin">#}
            {#                                                <a href="#" class="thumb-holder">#}
            {#                                                    <img alt="" src="assets/images/blank.gif"#}
            {#                                                         data-echo="assets/images/products/product-small-05.jpg"/>#}
            {#                                                </a>#}
            {#                                            </div>#}
            {#                                        </div>#}
            {#                                    </li>#}
            {##}
            {#                                    <li>#}
            {#                                        <div class="row">#}
            {#                                            <div class="col-xs-12 col-sm-9 no-margin">#}
            {#                                                <a href="single-product.html">PowerShot Elph 115 16MP Digital Camera</a>#}
            {#                                                <div class="price">#}
            {#                                                    <div class="price-prev">$2000</div>#}
            {#                                                    <div class="price-current">$1873</div>#}
            {#                                                </div>#}
            {#                                            </div>#}
            {##}
            {#                                            <div class="col-xs-12 col-sm-3 no-margin">#}
            {#                                                <a href="#" class="thumb-holder">#}
            {#                                                    <img alt="" src="assets/images/blank.gif"#}
            {#                                                         data-echo="assets/images/products/product-small-06.jpg"/>#}
            {#                                                </a>#}
            {#                                            </div>#}
            {#                                        </div>#}
            {#                                    </li>#}
            {#                                </ul>#}
            {#                            </div><!-- /.body -->#}
            {#                        </div> <!-- /.widget -->#}
            {#                        <!-- ============================================================= ON SALE PRODUCTS : END ============================================================= -->#}
            {#                    </div><!-- /.col -->#}
            {##}
            {#                    <div class="col-xs-12 col-sm-4 ">#}
            {#                        <!-- ============================================================= TOP RATED PRODUCTS ============================================================= -->#}
            {#                        <div class="widget">#}
            {#                            <h2>Top Rated Products</h2>#}
            {#                            <div class="body">#}
            {#                                <ul>#}
            {#                                    <li>#}
            {#                                        <div class="row">#}
            {#                                            <div class="col-xs-12 col-sm-9 no-margin">#}
            {#                                                <a href="single-product.html">Galaxy Tab GT-P5210, 10" 16GB Wi-Fi</a>#}
            {#                                                <div class="price">#}
            {#                                                    <div class="price-prev">$2000</div>#}
            {#                                                    <div class="price-current">$1873</div>#}
            {#                                                </div>#}
            {#                                            </div>#}
            {##}
            {#                                            <div class="col-xs-12 col-sm-3 no-margin">#}
            {#                                                <a href="#" class="thumb-holder">#}
            {#                                                    <img alt="" src="assets/images/blank.gif"#}
            {#                                                         data-echo="assets/images/products/product-small-07.jpg"/>#}
            {#                                                </a>#}
            {#                                            </div>#}
            {#                                        </div>#}
            {#                                    </li>#}
            {##}
            {#                                    <li>#}
            {#                                        <div class="row">#}
            {#                                            <div class="col-xs-12 col-sm-9 no-margin">#}
            {#                                                <a href="single-product.html">PowerShot Elph 115 16MP Digital Camera</a>#}
            {#                                                <div class="price">#}
            {#                                                    <div class="price-prev">$2000</div>#}
            {#                                                    <div class="price-current">$1873</div>#}
            {#                                                </div>#}
            {#                                            </div>#}
            {##}
            {#                                            <div class="col-xs-12 col-sm-3 no-margin">#}
            {#                                                <a href="#" class="thumb-holder">#}
            {#                                                    <img alt="" src="assets/images/blank.gif"#}
            {#                                                         data-echo="assets/images/products/product-small-08.jpg"/>#}
            {#                                                </a>#}
            {#                                            </div>#}
            {#                                        </div>#}
            {#                                    </li>#}
            {##}
            {#                                    <li>#}
            {#                                        <div class="row">#}
            {#                                            <div class="col-xs-12 col-sm-9 no-margin">#}
            {#                                                <a href="single-product.html">Surface RT 64GB, Wi-Fi, 10.6in - Dark#}
            {#                                                    Titanium</a>#}
            {#                                                <div class="price">#}
            {#                                                    <div class="price-prev">$2000</div>#}
            {#                                                    <div class="price-current">$1873</div>#}
            {#                                                </div>#}
            {#                                            </div>#}
            {##}
            {#                                            <div class="col-xs-12 col-sm-3 no-margin">#}
            {#                                                <a href="#" class="thumb-holder">#}
            {#                                                    <img alt="" src="assets/images/blank.gif"#}
            {#                                                         data-echo="assets/images/products/product-small-09.jpg"/>#}
            {#                                                </a>#}
            {#                                            </div>#}
            {##}
            {#                                        </div>#}
            {#                                    </li>#}
            {#                                </ul>#}
            {#                            </div><!-- /.body -->#}
            {#                        </div><!-- /.widget -->#}
            {#                        <!-- ============================================================= TOP RATED PRODUCTS : END ============================================================= -->#}
            {#                    </div><!-- /.col -->#}
            {##}
            {#                </div><!-- /.widgets-row-->#}
            {#            </div><!-- /.container -->#}


            <div class="link-list-row">
                <div class="container no-padding">
                    <div class="col-xs-12 col-md-4 ">
                        <!-- ============================================================= CONTACT INFO ============================================================= -->
                        <div class="contact-info">
                            <div class="footer-logo">
                                <div class="logo">
                                    <a href="{% url 'index' %}">
                                        <img alt="logo" src="{% static 'assets/images/logo.png' %}" width="233"
                                             height="54"/>
                                    </a>
                                </div><!-- /.logo -->
                            </div><!-- /.footer-logo -->

                            <p class="regular-bold"> Feel free to contact us via email.</p>

                            <i class="fa fa-envelope"></i><span class="le-color"> contact@booksntutorials.com</span>

                            <div class="social-icons">
                                <h3>Get in touch</h3>
                                <ul>
                                    <li><a href="http://facebook.com/transvelo" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-pinterest"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                    <li><a href="#" class="fa fa-stumbleupon"></a></li>
                                    <li><a href="#" class="fa fa-dribbble"></a></li>
                                    <li><a href="#" class="fa fa-vk"></a></li>
                                </ul>
                            </div><!-- /.social-icons -->

                        </div>
                        <!-- ============================================================= CONTACT INFO : END ============================================================= -->
                    </div>

                    <div class="col-xs-12 col-md-8 no-margin">
                        <!-- ============================================================= LINKS FOOTER ============================================================= -->
                        <div class="link-widget">
                            <div class="widget">
                                <h3>Find it fast</h3>

                                <ul>
                                    <li><a href="category-grid.html">laptops &amp; computers</a></li>
                                    <li><a href="category-grid.html">Cameras &amp; Photography</a></li>
                                    <li><a href="category-grid.html">Smart Phones &amp; Tablets</a></li>
                                    <li><a href="category-grid.html">Video Games &amp; Consoles</a></li>
                                    <li><a href="category-grid.html">TV &amp; Audio</a></li>
                                    <li><a href="category-grid.html">Gadgets</a></li>
                                    <li><a href="category-grid.html">Car Electronic &amp; GPS</a></li>
                                    <li><a href="category-grid.html">Accesories</a></li>
                                </ul>
                            </div><!-- /.widget -->
                        </div><!-- /.link-widget -->

                        <div class="link-widget">
                            <div class="widget">
                                <h3>Information</h3>
                                <ul>
                                    <li><a href="category-grid.html">Find a Store</a></li>
                                    <li><a href="category-grid.html">About Us</a></li>
                                    <li><a href="category-grid.html">Contact Us</a></li>
                                    <li><a href="category-grid.html">Weekly Deals</a></li>
                                    <li><a href="category-grid.html">Gift Cards</a></li>
                                    <li><a href="category-grid.html">Recycling Program</a></li>
                                    <li><a href="category-grid.html">Community</a></li>
                                    <li><a href="category-grid.html">Careers</a></li>

                                </ul>
                            </div><!-- /.widget -->
                        </div><!-- /.link-widget -->

                        <div class="link-widget">
                            <div class="widget">
                                <h3>Information</h3>
                                <ul>
                                    <li><a href="category-grid.html">My Account</a></li>
                                    <li><a href="category-grid.html">Order Tracking</a></li>
                                    <li><a href="category-grid.html">Wish List</a></li>
                                    <li><a href="category-grid.html">Customer Service</a></li>
                                    <li><a href="category-grid.html">Returns / Exchange</a></li>
                                    <li><a href="category-grid.html">FAQs</a></li>
                                    <li><a href="category-grid.html">Product Support</a></li>
                                    <li><a href="category-grid.html">Extended Service Plans</a></li>
                                </ul>
                            </div><!-- /.widget -->
                        </div><!-- /.link-widget -->
                        <!-- ============================================================= LINKS FOOTER : END ============================================================= -->
                    </div>
                </div><!-- /.container -->
            </div><!-- /.link-list-row -->

            <div class="copyright-bar">
                <div class="container">
                    <div class="col-xs-12 col-sm-6 no-margin">
                        <div class="copyright">
                            &copy; <a href="index.html">Media Center</a> - all rights reserved
                        </div><!-- /.copyright -->
                    </div>
                    <div class="col-xs-12 col-sm-6 no-margin">
                        <div class="payment-methods ">
                            <ul>
                                <li><img alt="" src="assets/images/payments/payment-visa.png"></li>
                                <li><img alt="" src="assets/images/payments/payment-master.png"></li>
                                <li><img alt="" src="assets/images/payments/payment-paypal.png"></li>
                                <li><img alt="" src="assets/images/payments/payment-skrill.png"></li>
                            </ul>
                        </div><!-- /.payment-methods -->
                    </div>
                </div><!-- /.container -->
            </div><!-- /.copyright-bar -->

        </footer><!-- /#footer -->
{% endblock %}

