{% extends 'base.html' %}
{% load staticfiles %}
{% load el_pagination_tags %}


{% block content %}

    <body>

    <div class="wrapper">
        <div class="container">
            <!-- ========================================= SIDEBAR ========================================= -->
            <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">

                <!-- ========================================= CATEGORY TREE ========================================= -->
                <div class="widget accordion-widget category-accordions">
                    <div class="body bordered">
                        <h1 class="border text-primary">Category Tree</h1>
                        {% for main in main_category %}
                            <div class="accordion">
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle active" data-toggle="collapse" href="#{{ main.id }}">
                                            {{ main.title }}
                                        </a>
                                    </div>
                                    <div id="{{ main.id }}" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            {% for category in main.default_main_category.all %}
                                                <ul>
                                                    <li>
                                                        <a href="{{ category.get_absolute_url }}">{{ category.title }} ({{ category.bookdetail_set.count }})</a>
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                        </div><!-- /.accordion-inner -->
                                    </div>
                                </div><!-- /.accordion -->
                            </div><!-- /.category-accordions -->
                        {% endfor %}
                    </div>
                </div>
                <!-- ========================================= CATEGORY TREE : END ========================================= -->


                <!-- ========================================= PRODUCT FILTER ========================================= -->

                <div class="widget">
                    <div class="simple-banner">
                        <a href="#"><img alt="" class="img-responsive" src="{% static 'assets/images/blank.gif' %}"
                                         data-echo="{% static 'assets/images/banners/banner-simple.jpg' %}"/></a>
                    </div>
                </div>
                <!-- ========================================= Discount PRODUCTS ========================================= -->
                <div class="widget">
                    <h1 class="border">Top Discount Books </h1>
                    <ul class="product-list">
                        <li class="sidebar-product-list-item">
                            {% for course in top_discount %}
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 no-margin">
                                        {% for img in course.bookimage_set.all %}
                                            <a href="{{ img.get_absolute_url }}" class="thumb-holder">
                                                <img height="70" width="75" src="{{ img }}"
                                                     data-echo="{{ img.image.url }}"/>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <div class="col-xs-8 col-sm-8 no-margin">
                                        <a href="{{ course.get_absolute_url }}">{{ course.title | truncatechars:"30" }}</a>

                                        <div class="price">
                                            {% if course.discount >= 5 %}
                                                <div class="label-discount">{{ course.discount }}% off</div>
                                            {% endif %}
                                            {% if course.discount == 100 %}
                                                <div class="price-prev"></div>
                                                <div class="price-current">Free</div>
                                            {% else %}
                                              {% if course.actual_price == course.sale_price %}
                                                  <div class="price-prev"></div>
                                              {% else %}
                                                <div class="price-prev">${{ course.actual_price }}</div>
                                              {% endif %}
                                                <div class="price-current">${{ course.sale_price }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        </li><!-- /.sidebar-product-list-item -->

                    </ul><!-- /.product-list -->
                </div><!-- /.widget -->
                <!-- ========================================= Top Discount PRODUCTS : END ========================================= -->
            </div>

            <div class="col-xs-12 col-sm-9 no-margin wide sidebar">

                <section id="gaming">
                    <div class="grid-list-products">
                        <h2 class="section-title">Recently Updated Books</h2>

                        <div class="tab-content">

                            <div id="list-view" class="products-grid fade tab-pane in active">
                                <div class="products-list">
                                    {% paginate recently_updated %}
                                    {% for course in recently_updated %}
                                        <div class="product-item product-item-holder">
                                            {% if course.discount >= 5 %}
                                                <div class="ribbon green"><span>{{ course.discount }}% off</span></div>
                                            {% endif %}
                                            <div class="row">

                                                {% for img in course.bookimage_set.all %}
                                                    <div class="no-margin col-xs-12 col-sm-4 image-holder">
                                                        <div class="image">
                                                            <img id="img" height="180" width="180" alt=""
                                                                 src="{{ img.image.url }} "/>
                                                        </div>
                                                    </div><!-- /.image-holder -->
                                                {% endfor %}

                                                <div class="no-margin col-xs-12 col-sm-5 body-holder">
                                                    <div class="body">
                                                        <!--    <div class="label-discount green">-50% sale</div> -->
                                                        <div class="title">
                                                            <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>
                                                        </div>

                                                        <div class="excerpt">
                                                            <p class="text-default">{{ course.description| safe | lower |truncatechars:'400' }}</p>
                                                        </div>
                                                        <div class="title"><a class="review_add" href="#"></a>
                                                        </div>
                                                    </div>
                                                </div><!-- /.body-holder -->
                                                <div class="no-margin col-xs-12 col-sm-3 price-area">
                                                    <div class="right-clmn">

                                                        <div class="price-current">$ {{ course.sale_price }}</div>
                                                     {% if course.actual_price == course.sale_price %}
                                                         <div class="price-prev">
                                                            <span style="text-decoration: line-through;"></span>
                                                        </div>
                                                     {% else %}
                                                        <div class="price-prev">
                                                            <span style="text-decoration: line-through;">$ {{ course.actual_price }}</span>
                                                        </div>
                                                     {% endif %}
                                                        <div class="title ">Author:
                                                            <label class="text-primary">{{ course.author_name }}</label>
                                                        </div>
                                                        <br>
                                                        <a class="le-button" href="{{ course.get_absolute_url }}">Get This</a>
                                                        {#                                                        <div class="title">Enrolled: <label#}
                                                        {#                                                                class="text-primary">{{ course.student_enrolled }}+#}
                                                        {#                                                            students </label></div>#}
                                                    </div><!-- /.price-area -->
                                                </div><!-- /.row -->


                                            </div><!-- /.row -->
                                        </div><!-- /.product-item -->
                                    {% endfor %}
                                    {% get_pages %}
                                </div><!-- /.products-list -->

                            </div><!-- /.products-grid #list-view -->

                            <!-- Pagination Section START -->
                            <div class="col-md-offset-3">
                                <ul class="pagination">
                                    {% if pages.paginated %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{ pages.first.path }}"
                                               aria-label="First">
                                                <span aria-hidden="true">&lt;&lt;</span>
                                                <span class="sr-only">First</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="{{ pages.previous.path }}"
                                               aria-label="Previous">
                                                <span aria-hidden="true">&lt;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        {% for page in pages %}
                                            {% if page == None %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" aria-label="...">
                                                        <span aria-hidden="true">...</span>
                                                        <span class="sr-only">...</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item {% if page.is_current %} active {% endif %}">
                                                    <a class="page-link" href="{{ page.path }}"
                                                       aria-label="Page {{ page.number }}">
                                                        <span aria-hidden="true">{{ page.label|safe }}</span>
                                                        <span class="sr-only">Page {{ page.number }}</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{ pages.next.path }}" aria-label="Next">
                                                <span aria-hidden="true">&gt;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="{{ pages.last.path }}" aria-label="Last">
                                                <span aria-hidden="true">&gt;&gt;</span>
                                                <span class="sr-only">Last</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div><!-- /.tab-content -->
                    </div><!-- /.grid-list-products -->

                </section><!-- /#gaming -->
            </div><!-- /.col -->
            <!-- ========================================= CONTENT : END ========================================= -->
        </div><!-- /.container -->
        <!-- ============================================================= FOOTER ============================================================= -->
    </div>
    </body>
{% endblock %}

{% block footer_content %}
    <footer id="footer" class="color-bg">
        <div class="container">
            <div class="row no-margin widgets-row">
                <div class="col-xs-12  col-sm-4 no-margin-left">
                    <!-- ============================================================= FEATURED PRODUCTS ============================================================= -->
                    <div class="widget">
                        <h2>New Arrivals Courses</h2>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="row">
                                        {% for course in recently_course_footer %}
                                            <div class="col-xs-12 col-sm-9 no-margin">
                                                <a href="{{ course.get_absolute_url }}">{{ course.title | truncatechars:'55' }}</a>
                                                <div class="price">
                                                    <div class="price-prev">$ {{ course.actual_price }}</div>
                                                    <div class="price-current"><span
                                                            class="bold">$ {{ course.sale_price }}</span></div>
                                                </div>
                                            </div>

                                            {% for img in course.courseimage_set.all %}
                                                <div class="col-xs-12 col-sm-3 no-margin">
                                                    <a href="#" class="thumb-holder">
                                                        <img alt="" src="" height="60" width="75"
                                                             data-echo="{{ img.image.url }}"/>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.body -->
                    </div> <!-- /.widget -->
                    <!-- ============================================================= FEATURED PRODUCTS : END ============================================================= -->
                </div><!-- /.col -->

                <div class="col-xs-12 col-sm-4 ">
                    <!-- ============================================================= ON SALE PRODUCTS ============================================================= -->
                    <div class="widget">
                        <h2>Top Discount Courses</h2>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="row">
                                        {% for course in discount_course_footer %}
                                            <div class="col-xs-12 col-sm-9 no-margin">
                                                <a href="{{ course.get_absolute_url }}">{{ course.title | truncatechars:'55' }}</a>
                                                <div class="price">

                                                    <div class="price-prev">$ {{ course.actual_price }}</div>
                                                    <div class="price-current"><span
                                                            class="bold">$ {{ course.sale_price }}</span></div>
                                                </div>
                                            </div>

                                            {% for img in course.courseimage_set.all %}

                                                <div class="col-xs-12 col-sm-3 no-margin">
                                                    <a href="#" class="thumb-holder">
                                                        <img alt="" src="" height="60" width="75"
                                                             data-echo="{{ img.image.url }}"/>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.body -->
                    </div> <!-- /.widget -->
                    <!-- ============================================================= ON SALE PRODUCTS : END ============================================================= -->
                </div><!-- /.col -->

                <div class="col-xs-12 col-sm-4 ">
                    <!-- ============================================================= TOP RATED PRODUCTS ============================================================= -->
                    <div class="widget">
                        <h2>Featured Blog Post</h2>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="row">
                                        {% for blog in blog_footer %}
                                            <div class="col-xs-12 col-sm-9 no-margin">
                                                <a href="{{ blog.get_absolute_url }}">{{ blog.title | truncatechars:'60' }}</a>
                                                <div class="price">
                                                    <div class="price-prev"></div>
                                                    <div class="price-current"><span
                                                            class="bold"></span></div>
                                                </div>
                                            </div>

                                            {% for img in blog.blogimage_set.all %}
                                                <div class="col-xs-12 col-sm-3 no-margin">
                                                    <a href="#" class="thumb-holder">
                                                        <img alt="" src="" height="57" width="75"
                                                             data-echo="{{ img.image.url }}"/>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.body -->
                    </div><!-- /.widget -->
                    <!-- ============================================================= TOP RATED PRODUCTS : END ============================================================= -->
                </div><!-- /.col -->

            </div><!-- /.widgets-row-->
        </div><!-- /.container -->

        <div class="sub-form-row">
            <div class="container">
                <div class="sub-form-row">
                    <div class="container">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 no-padding">
                            <form role="form" action="/newsletter/dealsndiscount/subscribe/" method="POST">
                                {% csrf_token %}
                                <input placeholder="Subscribe to our newsletter">
                                <button class="le-button">Subscribe</button>
                            </form>
                        </div>
                    </div><!-- /.container -->
                </div><!-- /.sub-form-row -->
            </div><!-- /.container -->
        </div><!-- /.sub-form-row -->

        <div class="link-list-row">
            <div class="container no-padding">
                <div class="col-xs-12 col-md-4 ">
                    <!-- ============================================================= CONTACT INFO ============================================================= -->
                    <div class="contact-info">
                        <div class="footer-logo">
                            <div class="logo">
                                <a href="{% url 'index' %}">
                                    <img alt="logo" src="{% static 'assets/images/logo.png' %}" width="233"
                                         height="54"/>
                                </a>
                            </div><!-- /.logo -->
                        </div><!-- /.footer-logo -->

                        <p class="regular-bold"> Feel free to contact us via email.</p>

                        <i class="fa fa-envelope"></i><span class="le-color"> hello@learneskills.com</span>

                        <div class="social-icons">
                            <h3>Get in touch</h3>
                            <ul>
                                <li><a href="http://facebook.com/transvelo" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-pinterest"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                <li><a href="#" class="fa fa-stumbleupon"></a></li>
                                <li><a href="#" class="fa fa-dribbble"></a></li>
                                <li><a href="#" class="fa fa-vk"></a></li>
                            </ul>
                        </div><!-- /.social-icons -->

                    </div>
                    <!-- ============================================================= CONTACT INFO : END ============================================================= -->
                </div>

                <div class="col-xs-12 col-md-8 no-margin">
                    <!-- ============================================================= LINKS FOOTER ============================================================= -->
                    <div class="link-widget">
                        <div class="widget">
                            <h3 class="text-success">Courses Tag List</h3>
                            {% for tag in course_tags %}

                                {% if forloop.counter|divisibleby:'3' %}
                                    <a style="font-size: 13pt;"
                                       href="{% url 'tagged' tag.slug %}"><span class="text-muted">{{ tag }},</span></a>

                                {% elif tag.name == 'programming' and 'development' %}
                                    <a style="font-size: 18pt;"
                                       href="{% url 'tagged' tag.slug %}"> <span
                                            class="text-muted">{{ tag }},</span></a>
                                {% else %}
                                    <a style="font-size: 10pt;"
                                       href="{% url 'tagged' tag.slug %}"><span class="text-muted">{{ tag }},</span></a>
                                {% endif %}

                            {% endfor %}
                        </div><!-- /.widget -->
                    </div><!-- /.link-widget -->

                    <div class="link-widget">
                        <div class="widget">
                            <h3 class="text-success">Books Tag List</h3>
                            <div class="tagcloud">
                                {% for tag in book_tags %}
                                    {% if forloop.counter|divisibleby:'3' %}
                                        <a style="font-size: 14pt;"
                                           href="{% url 'book-tagged' tag.slug %}"><span
                                                class="text-muted">{{ tag }},</span></a>

                                    {% elif tag.name %}
                                        <a style="font-size: 10pt;"
                                           href="{% url 'book-tagged' tag.slug %}"> <span
                                                class="text-muted">{{ tag }},</span></a>
                                    {% else %}
                                        <a style="font-size: 16pt;"
                                           href="{% url 'book_tagged' tag.slug %}"><span
                                                class="text-muted">{{ tag }},</span></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div><!-- /.widget -->
                    </div><!-- /.link-widget -->

                    <div class="link-widget">
                        <div class="widget">
                            <h3 class="text-success">Blog Tag List</h3>
                            <div class="tagcloud">

                                {% for tag in blog_tags %}
                                    {% if forloop.counter|divisibleby:'3' %}
                                        <a style="font-size: 13pt;"
                                           href="{% url 'blog_tagged' tag.slug %}"><span
                                                class="text-muted">{{ tag }}</span></a>

                                    {% elif tag.name == 'programming' %}
                                        <a style="font-size: 18pt;"
                                           href="{% url 'blog_tagged' tag.slug %}"><span
                                                class="text-muted">{{ tag }},</span></a>
                                    {% else %}
                                        <a style="font-size: 10pt;"
                                           href="{% url 'blog_tagged' tag.slug %}"><span
                                                class="text-muted">{{ tag }},</span></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div><!-- /.widget -->
                    </div><!-- /.link-widget -->
                    <!-- ============================================================= LINKS FOOTER : END ============================================================= -->
                </div>
            </div><!-- /.container -->
        </div><!-- /.link-list-row -->

        <div class="copyright-bar">
            <div class="container">
                <div class="col-xs-12 col-sm-6 no-margin">
                    <div class="copyright">
                        &copy; <a href="index.html">learnEskills</a> - all rights reserved
                    </div><!-- /.copyright -->
                </div>
            </div><!-- /.container -->
        </div><!-- /.copyright-bar -->

    </footer><!-- /#footer -->
{% endblock %}